/**
 *		Advantages
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
.advantages {
  position: relative;
  background-image: url("../img/advantages-bg.png");
  background-repeat: no-repeat; }
  .advantages__list {
    padding: 0;
    margin: 0 -5px;
    list-style-type: none; }
  .advantages__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 30%;
    margin-top: 50px;
    padding: 0 5px; }
    .advantages__item:nth-child(1), .advantages__item:nth-child(2), .advantages__item:nth-child(3) {
      margin-top: 0; }
    .advantages__item:nth-child(2), .advantages__item:nth-child(5) {
      width: 40%;
      padding: 0 30px; }
      .advantages__item:nth-child(2) .advantages__logo, .advantages__item:nth-child(5) .advantages__logo {
        width: 30%; }
      .advantages__item:nth-child(2) .advantages____text, .advantages__item:nth-child(5) .advantages____text {
        width: 70%; }
  .advantages__logo {
    display: inline-block;
    width: 24%;
    margin-top: 5px; }
    .advantages__logo img {
      max-width: 100%;
      padding-right: 10px; }
  .advantages__text {
    display: inline-block;
    width: 76%; }
    .advantages__text p {
      margin: 0;
      font-size: 14px;
      color: #464646;
      line-height: 17px; }
      .advantages__text p.title {
        margin-bottom: 17px;
        font-size: 20px;
        font-weight: 500;
        color: #404040;
        line-height: 24px;
        letter-spacing: .9px; }

/**
 *		Media	
 */
@media screen and (max-width: 940px) {
  .advantages__item {
    width: 50%;
    padding-right: 30px;
    margin-top: 40px; }
    .advantages__item:nth-child(2), .advantages__item:nth-child(5) {
      width: 50%;
      padding: 0; }
    .advantages__item:nth-child(3) {
      margin-top: 40px; }
  .advantages__logo {
    width: 30%;
    text-align: center; } }
@media screen and (max-width: 640px) {
  .advantages__item {
    width: 100%;
    margin-top: 30px; }
    .advantages__item:nth-child(2), .advantages__item:nth-child(5) {
      width: 100%; }
    .advantages__item:nth-child(2), .advantages__item:nth-child(3) {
      margin-top: 30px; } }
/**
 *		Banner slider
 */
.banner-slider {
  position: relative; }
  .banner-slider__list {
    padding: 0;
    margin: 0; }
  .banner-slider__item {
    width: 100%;
    height: 456px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

.dots__line {
  position: absolute;
  left: 50%;
  bottom: 22px;
  display: inline-block;
  padding: 0;
  margin: 0;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  list-style-type: none; }
  .dots__line li {
    display: inline-block;
    width: 69px;
    height: 5px;
    margin: 0 10px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 0;
    cursor: pointer; }
    .dots__line li.slick-active {
      background-color: #c12648; }
    .dots__line li button {
      background-color: transparent;
      border: 0; }

.arrow {
  z-index: 5;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer; }
  .arrow__circle {
    width: 55px;
    height: 55px;
    background-color: #000;
    border: 0;
    border-radius: 50%;
    opacity: .34; }
    .arrow__circle span {
      position: absolute;
      top: 50%;
      display: block;
      width: 17px;
      height: 29px;
      background-image: url("../img/arow-big-white.png");
      background-repeat: no-repeat;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
    .arrow__circle:hover {
      opacity: .5; }
  .arrow__prev {
    left: 10px; }
    .arrow__prev span {
      left: 17px;
      background-position: center left; }
  .arrow__next {
    right: 10px; }
    .arrow__next span {
      left: 23px;
      background-position: center right; }

/**
 *		Media	
 */
@media screen and (max-width: 640px) {
  .banner-slider__item {
    height: 265px; }

  .dots__line {
    width: 100%;
    text-align: center; } }
/**
 *		Catalog
 */
.catalog {
  background-image: url("../img/catalog-bg.jpg"); }
  .catalog__list {
    padding: 0;
    margin: 0 -5px;
    list-style-type: none; }
  .catalog__item {
    width: 33.333%;
    margin-top: 40px;
    padding: 0 5px;
    text-align: center; }
    .catalog__item:nth-child(1), .catalog__item:nth-child(2), .catalog__item:nth-child(3) {
      margin-top: 0; }
  .catalog__photo {
    position: relative;
    margin-bottom: 3px; }
    .catalog__photo img {
      z-index: 1;
      position: relative;
      max-width: 100%;
      padding: 52px 46px; }
    .catalog__photo:before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 299px;
      height: 299px;
      max-width: 100%;
      max-height: 100%;
      background-image: url("../img/catalog-list-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .catalog a {
    display: inline-block;
    font-size: 22px;
    color: #277bc0;
    border-bottom: 1px solid #277bc0; }
    .catalog a:hover {
      border-bottom: 0; }

.content {
  float: left;
  width: 100%; }

.inner-content {
  margin: 0 0 30px 235px;
  padding: 0 0 0 15px; }

.sidebar {
  position: relative;
  float: left;
  width: 235px;
  margin-left: -100%; }

.bread-crambs {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  margin-top: 16px; }
  .bread-crambs__item {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    color: #949494; }
  .bread-crambs__link {
    font-size: 14px;
    line-height: 16px;
    color: #2e57a0;
    font-family: 'Exo2', Arial, sans-serif;
    font-weight: 400; }
    .bread-crambs__link:after {
      content: '';
      width: 10px;
      height: 10px;
      margin: 0 10px;
      display: inline-block;
      background-image: url("../img/crambs-icon.png");
      background-size: contain;
      background-repeat: no-repeat; }

.ruble {
  font-family: 'Ruble';
  font-weight: 400;
  color: inherit;
  font-size: 1.1em; }

.catalog-descript {
  font-family: 'Exo2', Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #4e4d4e;
  letter-spacing: 1px; }

.catalog-box__list {
  overflow: hidden; }
.catalog-box__item {
  display: inline-block;
  margin: 0 3px 22px 0;
  padding: 3px;
  border: 1px solid #c8c8c8;
  list-style-type: none;
  width: 32.5%;
  background-color: #fff; }
  .catalog-box__item img {
    max-width: 100%;
    display: block;
    margin: 0 auto; }
.catalog-box__link {
  padding: 15px 5px 0px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #1c6398;
  text-decoration: underline; }
  .catalog-box__link:hover {
    text-decoration: none; }
.catalog-box .bottom-box {
  padding: 14px 16px 9px 9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .catalog-box .bottom-box .dimen {
    font-size: 20px;
    line-height: 23px;
    color: #414141;
    font-weight: 600; }
  .catalog-box .bottom-box .price {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    color: #c92649; }
    .catalog-box .bottom-box .price i {
      font-size: 14px;
      line-height: 20px; }

.catalog-filter__box--last .catalog-filter__list {
  padding-bottom: 0; }
.catalog-filter__list {
  padding: 9px 0; }
.catalog-filter__tittle {
  cursor: pointer;
  padding: 14px 9px;
  background-color: #1c6398;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent; }
  .catalog-filter__tittle span {
    font-family: 'Exo2', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px; }
  .catalog-filter__tittle.open {
    border-bottom: 2px solid #fff; }
    .catalog-filter__tittle.open img {
      -webkit-transform: rotate(-93deg);
      -ms-transform: rotate(-93deg);
      transform: rotate(-93deg); }
  .catalog-filter__tittle sup {
    left: -3px; }
.catalog-filter__item {
  padding: 5px 0;
  list-style-type: none; }
  .catalog-filter__item:last-child {
    margin-bottom: 2px; }
  .catalog-filter__item label {
    font-family: 'Exo2', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    -webkit-tap-highlight-color: transparent; }
    .catalog-filter__item label span.circle {
      width: 20px;
      height: 20px;
      margin-right: 16px;
      display: inline-block;
      border-radius: 100%;
      vertical-align: bottom;
      border: 1px solid #c3c3c3; }
    .catalog-filter__item label .gray {
      background-color: #c7c7c7; }
    .catalog-filter__item label .green {
      background-color: #19b40d; }
    .catalog-filter__item label .yellow {
      background-color: #f6e80d; }
    .catalog-filter__item label .red {
      background-color: #f33e3e; }
    .catalog-filter__item label .black {
      background-color: #000000; }
    .catalog-filter__item label .blue {
      background-color: #097ebb; }
    .catalog-filter__item label .brown {
      background-color: #86501b; }
    .catalog-filter__item label .beige {
      background-color: #f5e3b2; }
    .catalog-filter__item label .white {
      background-color: #ffffff; }
  .catalog-filter__item .checkbox-custom {
    opacity: 0;
    position: absolute; }
  .catalog-filter__item .checkbox-custom-label {
    position: relative;
    cursor: pointer; }
  .catalog-filter__item .checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: sub;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 16px;
    text-align: center; }
  .catalog-filter__item .checkbox-custom:checked + .checkbox-custom-label:before {
    content: "";
    width: 16px;
    height: 16px;
    background-image: url("../img/checked-icon.png");
    background-size: 11px;
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 1px 2px 2px;
    background-position: center 49%; }

.formCost {
  margin-bottom: 25px;
  margin-top: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .formCost .formCost-box {
    font-size: 13px;
    line-height: 16px;
    color: #757575;
    font-weight: 300;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline; }

.formCost label {
  float: left;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
  font-weight: 300;
  margin-right: 5px; }

.formCost input {
  float: left;
  text-align: right;
  font-size: 13px;
  line-height: 16px;
  color: #757575;
  font-weight: 300;
  width: 63px;
  height: 25px;
  background: #fff;
  border: 1px solid #d8d8d8;
  margin-right: 10px;
  padding: 5px; }
  .formCost input#minCost {
    margin-left: 11px; }

.ui-slider {
  position: relative; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 21px;
  height: 21px;
  background-image: url("../img/price-slide-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  overflow: hidden; }

.ui-slider-horizontal {
  height: 6px; }

.ui-slider-horizontal .ui-slider-handle {
  top: -8px;
  margin-left: -6px; }

.ui-slider-horizontal .ui-slider-handle:nth-child(1) {
  margin-left: -17px; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

.ui-widget-content {
  border: 1px solid #dadada;
  background: #e7e7e7;
  width: 217px;
  margin-left: 4px; }

.ui-widget-header {
  border: 1px solid #D4D4D4;
  background: #c22546; }

.ui-corner-all {
  border-radius: 4px; }

.custom-background {
  overflow: hidden;
  background-color: #f2f2f2; }
  .custom-background .container:after {
    display: table;
    content: " ";
    clear: both; }
  .custom-background .container:before {
    display: table;
    content: " "; }

.price-count {
  font-size: 13px;
  line-height: 16px;
  color: #757575;
  font-weight: 300;
  padding: 21px 5px 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.button-filter {
  width: 100%;
  margin-top: 15px; }

.catalog-tittle {
  margin: -11px 0 21px;
  padding-bottom: 16px; }

.paggination-box {
  margin-top: 16px; }
  .paggination-box .paggination-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .paggination-box .paggination-list__item {
      list-style-type: none; }
      .paggination-box .paggination-list__item.active a {
        background-color: #3562b6;
        color: #fff; }
    .paggination-box .paggination-list__link {
      width: 33px;
      height: 33px;
      margin-left: 7px;
      margin-right: 3px;
      display: block;
      padding: 0px;
      font-size: 18px;
      line-height: 33px;
      color: #686868;
      background-color: #eaeaea;
      text-align: center; }
      .paggination-box .paggination-list__link:hover {
        background-color: #3562b6;
        color: #fff; }

.catalog-informs {
  margin: 73px 0 0; }
  .catalog-informs__item {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .catalog-informs__item:last-child img {
      margin-left: -2px;
      height: 167px; }
  .catalog-informs__text {
    padding-right: 6px;
    margin-left: 12px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .catalog-informs__text p {
      font-size: 16px;
      line-height: 19px;
      color: #4e4d4e;
      letter-spacing: 0.8px;
      margin-bottom: 24px;
      margin-top: -4px; }
  .catalog-informs .decor-text-informs {
    margin-top: -5px; }
  .catalog-informs img {
    margin-bottom: 2px;
    display: block;
    width: 100%;
    max-width: 249px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.decor-text-informs p {
  margin-top: -5px; }

.question-form h2:before {
  background-color: #515558; }

.catalog-work {
  max-width: 994px;
  margin: 26px auto 25px;
  margin-left: 23%; }
  .catalog-work .form-box {
    padding: 25px 2px 50px !important; }
    .catalog-work .form-box h2 {
      padding-top: 0;
      margin-left: 20px !important; }
    .catalog-work .form-box h2:before {
      background-color: #515558; }
    .catalog-work .form-box p {
      padding: 0 50px;
      margin-bottom: 38px;
      font-size: 24px;
      font-weight: 300;
      color: #525252;
      letter-spacing: 1px;
      line-height: 29px; }

.stages-work.catalog-work {
  padding-top: 0; }

/**
 *		Media	
 */
@media screen and (max-width: 1514px) {
  .catalog-work {
    margin-left: auto; } }
@media screen and (max-width: 909px) {
  .catalog-box__item {
    width: 32%; }

  .catalog-informs {
    display: none; }

  .catalog-box .bottom-box {
    padding: 14px 5px 9px 5px; }

  .catalog-box__item img {
    width: 100%; } }
@media screen and (max-width: 940px) {
  .custom-background .container {
    padding: 0 11px; }

  main .container {
    padding: 4px 11px; }

  .catalog__item {
    width: 50%;
    padding: 0 25px;
    margin-top: 40px; }
    .catalog__item:nth-child(3) {
      margin-top: 40px; } }
@media screen and (max-width: 780px) {
  .catalog-filter__tittle.open {
    border-bottom: none; }

  .catalog-box .bottom-box {
    display: block; }
    .catalog-box .bottom-box .dimen {
      width: 100%;
      display: block; }
    .catalog-box .bottom-box .price {
      width: 100%; }

  .mobile-hidden {
    display: none; }

  .inner-content {
    margin: 0;
    padding: 0 2px; }

  .sidebar {
    width: 100%;
    float: none;
    margin-left: 0; }

  .content {
    margin-top: 42px;
    float: none; }

  .mobile-revers {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }

  .catalog-filter__box {
    margin-top: 2px; }

  .button-filter {
    margin-top: 13px;
    width: 245px;
    margin: 14px auto 0;
    display: block !important; }

  .catalog-tittle {
    margin: -14px 0 15px;
    padding-bottom: 17px;
    line-height: 35px;
    font-size: 30px;
    letter-spacing: 1.5px; }

  .catalog-descript {
    letter-spacing: .8px; }

  .ui-widget-content {
    width: 97.6%; }

  .catalog-box__item {
    width: 32.5%;
    margin: 0 4px 22px 0; }
    .catalog-box__item:nth-child(3n) {
      margin: 0 0 22px 0; }

  .top-panel__wrapper .top-panel {
    padding: 18px 0 19px; }

  .top-panel__wrapper .top-panel__text-logo p {
    margin: 0;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: .2px;
    margin-left: -7px;
    margin-top: -1px; }

  .top-panel__wrapper .top-panel__button .button {
    padding: 13px 16px 11px;
    margin-top: -5px;
    margin-left: -5px;
    font-size: 13px; }

  .top-panel__wrapper .top-panel__button {
    margin-bottom: 5px; }

  .bread-crambs {
    margin-bottom: 12px;
    margin-top: 30px; }

  .top-panel__social .social-item--ph a {
    margin-top: 0px;
    margin-right: -2px; }

  .catalog-filter__tittle {
    padding: 14px 16px 14px 9px; }

  .catalog-filter__tittle.open img {
    -webkit-transform: rotate(-93deg);
    -ms-transform: rotate(-93deg);
    transform: rotate(-93deg); }

  .catalog-box__list {
    margin-top: 27px; }

  .top-panel__logo .top-panel__text-logo {
    padding-left: 16px; } }
@media screen and (max-width: 640px) {
  .catalog__item {
    width: 100%; }
    .catalog__item:nth-child(2) {
      margin-top: 40px; } }
@media screen and (max-width: 624px) {
  .catalog-box__item {
    width: 49%;
    margin: 0 0 22px 0; }
    .catalog-box__item:nth-child(2n) {
      margin-left: 7px; }

  .catalog-box__link {
    padding: 10px 4px 0px;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px; }

  .catalog-box .bottom-box {
    padding: 8px 5px 9px 5px; }

  .catalog-box .bottom-box .price {
    width: 100%;
    margin-top: 4px;
    display: block; }

  .paggination-box {
    display: none; }

  .catalog-work {
    margin: 11px auto 0; }

  .catalog-work .form-box {
    padding: 12px 2px 69px !important; }

  .catalog-work .form__group--button {
    margin-top: 9px; }

  .catalog-work .form__group--button .button {
    padding: 12px 5px; }

  .catalog-work .form__group--input {
    max-width: 330px; }

  .catalog-work .form-box p {
    margin-bottom: 18px !important; }

  .catalog-work .form__group--button {
    margin-top: 13px; }

  .catalog-work .form-box {
    margin: 0 -5px -49px; }

  .catalog-work .form-box h2 {
    padding: 0 40px 26px !important; } }
@media screen and (max-width: 549px) {
  .catalog-box__item:nth-child(2n) {
    margin-left: 3%; }

  .catalog-box__item {
    width: 48%; }

  .ui-widget-content {
    width: 96%; } }
@media screen and (max-width: 400px) {
  .bread-crambs {
    margin-top: 18px;
    margin-bottom: 24px; }

  .top-panel__wrapper .top-panel__logo img {
    margin-right: 95px;
    margin-top: 0px; }

  .top-panel__wrapper .top-panel__button .button {
    padding: 9px 8px 9px;
    font-size: 11px; }

  .top-panel__text-logo {
    margin: 3px 0 11px; }

  main {
    padding-top: 123px; }

  .top-panel__wrapper .top-panel__text-logo p {
    font-size: 14px; }

  .top-panel__social .social-item--ph a {
    margin-top: 3px; } }
@media screen and (max-width: 376px) {
  .catalog-box__item:nth-child(2n) {
    margin-left: 2.3%; }

  .catalog-work .form-box p {
    margin-bottom: 18px !important; }

  .catalog-work .form__group--button {
    margin-top: 13px; }

  .catalog-work .form-box {
    margin: 0 -5px -49px; }

  .catalog-work .form-box h2 {
    padding: 0 40px 26px !important; }

  .ui-widget-content {
    width: 95%; } }
@media screen and (max-width: 375px) {
  .ui-widget-content {
    width: 95.5%; } }
.question-title {
  margin-left: -3px;
  margin-top: -3px;
  font-size: 30px;
  letter-spacing: 1.8px; }

.question-list {
  margin-top: 40px; }
  .question-list__item {
    margin-bottom: 50px;
    position: relative;
    padding: 30px 36px 30px 87px;
    list-style-type: none;
    border: 4px solid #2474b4; }
  .question-list__title {
    font-size: 24px;
    line-height: 28px;
    color: #c92649;
    font-weight: 500;
    letter-spacing: 1.1px;
    margin: 0 0 26px; }
  .question-list__text {
    font-size: 16px;
    line-height: 20px;
    color: #4f4f4f;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.7px; }
  .question-list__number {
    font-family: 'HelveticaNeueCyr-Medium', Arial, sans-serif;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    border: 3px solid #c92649;
    position: absolute;
    left: 12px;
    top: -31px;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .question-list__number span {
      font-size: 30px;
      line-height: 33px;
      color: #1e67a0; }
    .question-list__number:before {
      content: '';
      position: absolute;
      top: 58px;
      left: 28px;
      width: 3px;
      height: 17px;
      background-color: #c92649; }
    .question-list__number:after {
      content: '';
      position: absolute;
      top: 73px;
      right: -11px;
      width: 38px;
      height: 3px;
      background-color: #c92649; }

.question-form {
  margin: 50px 0 64px !important; }

@media screen and (max-width: 500px) {
  .question-list__number:before,
  .question-list__number:after {
    display: none; }

  .question-list__item {
    padding: 36px 10px 14px 19px;
    margin-bottom: 40px; }

  .top-panel__wrapper .top-panel__button .button {
    padding: 13px 8px 11px; }

  .top-panel {
    padding: 12px 0 !important; }

  .question-title {
    font-size: 23px; }

  .question-list {
    margin-top: 47px; }

  .question-form {
    margin: 38px 0 10px !important; }
    .question-form .box-form {
      padding: 18px 0; }
      .question-form .box-form h2 {
        margin-bottom: 21px; }
    .question-form .box-field {
      margin-bottom: 10px; }
    .question-form .form-control--textarea {
      min-height: 146px; }
    .question-form .btn--submit {
      margin-top: 8px; }

  .question-list__number {
    left: 16px; } }
/**
 *		Advantages
 */
.footer {
  z-index: 1;
  position: relative;
  background-color: #616161; }
  .footer__logo {
    display: inline-block;
    padding: 0 8px 0 5px;
    vertical-align: middle; }
    .footer__logo a {
      display: inline-block; }
    .footer__logo img {
      width: 100%; }
  .footer-menu {
    display: inline-block;
    vertical-align: middle; }
    .footer-menu__list {
      padding: 13px 0 17px;
      margin: 0; }
    .footer-menu__item {
      position: relative;
      display: inline-block;
      padding: 0 23px;
      vertical-align: middle; }
      .footer-menu__item a {
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        color: #fff; }
        .footer-menu__item a:hover {
          text-decoration: none; }
      .footer-menu__item:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        display: block;
        width: 1px;
        height: 13px;
        background-color: rgba(255, 255, 255, 0.2); }
      .footer-menu__item:last-child {
        padding-right: 0; }
  .footer-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 23px 0 16px; }
    .footer-info__logo {
      display: inline-block;
      width: 31%;
      vertical-align: middle; }
      .footer-info__logo img {
        display: inline-block;
        max-width: 120px;
        margin-right: 7px;
        vertical-align: middle; }
    .footer-info__text-logo {
      display: inline-block;
      max-width: 130px;
      padding-left: 8px;
      margin-top: -7px;
      border-left: 1px solid #8a8a8a;
      vertical-align: middle; }
      .footer-info__text-logo p {
        margin: 0;
        font-size: 14px;
        color: #fff;
        line-height: 17px; }
    .footer-info__info {
      display: inline-block;
      width: 59%;
      text-align: center;
      vertical-align: middle; }
      .footer-info__info a {
        position: relative;
        display: inline-block;
        padding-left: 28px;
        margin: 0 30px 9px;
        font-size: 18px;
        color: #fff;
        letter-spacing: .7px; }
        .footer-info__info a:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          display: inline-block; }
        .footer-info__info a.phone {
          font-family: 'Exo2SemiBold', Times New Roman, serif; }
          .footer-info__info a.phone:before {
            width: 16px;
            height: 15px;
            background-image: url("../img/footer-phone.png"); }
        .footer-info__info a.mail:before {
          width: 23px;
          height: 16px;
          background-image: url("../img/footer-mail.png"); }
    .footer-info__social {
      display: inline-block;
      width: 10%;
      text-align: right;
      vertical-align: middle; }
      .footer-info__social .social-list {
        padding: 0;
        margin: 0;
        list-style-type: none; }
      .footer-info__social .social-item {
        display: inline-block;
        margin: 0 3px; }
        .footer-info__social .social-item a {
          display: block;
          width: 33px;
          height: 33px; }
        .footer-info__social .social-item--vk {
          background-image: url("../img/footer-social-2.png");
          background-repeat: no-repeat;
          background-position: center; }
        .footer-info__social .social-item--in {
          background-image: url("../img/footer-social-1.png");
          background-repeat: no-repeat;
          background-position: center; }
  .footer__panel {
    background-color: #454545;
    text-align: center; }
    .footer__panel p {
      padding: 14px 10px 16px;
      margin: 0;
      font-size: 12px;
      color: #fff; }

.footer-wrapper--mob {
  display: none; }

/**
 *		Media	
 */
@media screen and (max-width: 1100px) {
  .footer__menu-wrapper {
    text-align: center; }

  .footer-menu__item {
    padding: 0 15px; } }
@media screen and (max-width: 940px) {
  .footer {
    position: relative; }

  .footer-wrapper--desc {
    display: none; }
  .footer-wrapper--mob {
    display: block; }
    .footer-wrapper--mob .footer-info {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .footer-wrapper--mob .footer-info__logo {
        width: 45%; }
      .footer-wrapper--mob .footer-info__info {
        width: 30%;
        text-align: right; }
        .footer-wrapper--mob .footer-info__info a {
          width: 200px;
          padding-left: 35px;
          margin: 0 0 9px;
          text-align: left; }
      .footer-wrapper--mob .footer-info__text-logo {
        margin-top: 0; }
      .footer-wrapper--mob .footer-info__social {
        width: 100%;
        text-align: right; }
        .footer-wrapper--mob .footer-info__social .social-item a {
          width: 33px;
          padding: 0;
          margin: 0; }
        .footer-wrapper--mob .footer-info__social .social-list {
          display: inline-block;
          width: 207px;
          text-align: left; }
    .footer-wrapper--mob .footer-menu {
      width: 25%; }
      .footer-wrapper--mob .footer-menu__item {
        width: 100%;
        padding: 0; }
        .footer-wrapper--mob .footer-menu__item:before {
          display: none; }
      .footer-wrapper--mob .footer-menu__list {
        padding: 0; } }
@media screen and (max-width: 640px) {
  .footer-wrapper--mob .footer-info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .footer-wrapper--mob .footer-info__logo, .footer-wrapper--mob .footer-info__info {
      width: 100%; }
    .footer-wrapper--mob .footer-info__logo {
      margin-bottom: 25px; }
    .footer-wrapper--mob .footer-info__info {
      position: relative; }
      .footer-wrapper--mob .footer-info__info a {
        display: block;
        width: 100%;
        padding-left: 30px;
        margin: 0 0 14px; }
    .footer-wrapper--mob .footer-info__social {
      position: absolute;
      top: -7px;
      right: 0; }
      .footer-wrapper--mob .footer-info__social .social-list {
        width: auto; }
  .footer-wrapper--mob .footer-menu__list {
    display: none; } }
/**
 *		Header
 */
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c6398;
  text-align: center; }
  .header__logo {
    display: inline-block;
    padding: 0 8px 0 5px;
    vertical-align: middle; }
    .header__logo a {
      display: inline-block; }
    .header__logo img {
      width: 100%; }
  .header-menu {
    display: inline-block;
    vertical-align: middle; }
    .header-menu__list {
      padding: 13px 0 17px;
      margin: 0; }
    .header-menu__item {
      position: relative;
      display: inline-block;
      padding: 0 23px;
      vertical-align: middle; }
      .header-menu__item a {
        font-size: 14px;
        font-weight: 500;
        text-decoration: underline;
        color: #fff; }
        .header-menu__item a:hover {
          text-decoration: none; }
      .header-menu__item:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        display: block;
        width: 1px;
        height: 13px;
        background-color: rgba(255, 255, 255, 0.2); }
      .header-menu__item:last-child {
        padding-right: 0; }
  .header.fixed {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25); }

/**
 *		Media	
 */
@media screen and (max-width: 1100px) {
  .header-menu__item {
    padding: 0 15px; } }
@media screen and (max-width: 940px) {
  .header {
    display: none; } }
/**
 *		Reviews
 */
.reviews h2 {
  margin-bottom: 50px; }
.reviews__wrapper {
  padding: 0 52px; }
.reviews__filter-list, .reviews__slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }
.reviews__filter-list {
  margin-bottom: 90px;
  text-align: center; }
.reviews__filter-item {
  display: inline-block;
  margin: 0 10px; }
  .reviews__filter-item .button {
    padding: 10px 30px 14px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    color: #8f8f8f;
    border: 2px solid #8f8f8f;
    box-shadow: none;
    text-transform: none; }
    .reviews__filter-item .button:hover {
      background-color: transparent;
      color: #8f8f8f;
      border-color: #ca405f; }
  .reviews__filter-item.is-active .button {
    background-color: #ca405f;
    color: #fff;
    border: 2px solid #ca405f; }
.reviews__slider-list .slick-track,
.reviews__slider-list .slick-list {
  height: 285px; }
.reviews__slider-list .arrow {
  z-index: 5;
  display: block;
  position: absolute;
  top: 50%;
  width: 55px;
  height: 55px;
  background-color: transparent;
  border: 0;
  opacity: 0.8;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer; }
  .reviews__slider-list .arrow:hover {
    opacity: 1; }
  .reviews__slider-list .arrow span {
    position: absolute;
    top: 50%;
    display: block;
    width: 21px;
    height: 36px;
    background-image: url("../img/arow-big-red.png");
    background-repeat: no-repeat;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
  .reviews__slider-list .arrow.slick-disabled {
    opacity: 1 !important; }
    .reviews__slider-list .arrow.slick-disabled span {
      background-image: url("../img/arow-big-gray.png"); }
  .reviews__slider-list .arrow__next {
    right: -50px; }
  .reviews__slider-list .arrow__prev {
    left: -75px; }
.reviews__slider-item {
  margin: 0 20px; }
  .reviews__slider-item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .reviews__slider-item a {
    display: inline-block;
    vertical-align: middle; }
  .reviews__slider-item img {
    display: block; }

/**
 *		Media	
 */
@media screen and (max-width: 1100px) {
  .reviews__wrapper {
    padding: 0 40px; }
  .reviews__slider-list .arrow__prev {
    left: -50px; }
  .reviews__filter-item {
    margin: 0 5px; }
    .reviews__filter-item .button {
      padding: 10px 20px 14px; } }
@media screen and (max-width: 940px) {
  .reviews__wrapper {
    padding: 0 30px; }
  .reviews__filter-list {
    margin: 0 -30px 35px; }
  .reviews__slider-list .arrow__next {
    right: -40px; }
  .reviews__slider-list .arrow__prev {
    left: -40px; }
  .reviews__slider-list .slick-track,
  .reviews__slider-list .slick-list {
    height: 223px; }
  .reviews__slider-item {
    margin: 0 5px; }
    .reviews__slider-item a {
      height: 100%; }
    .reviews__slider-item img {
      height: 100%; }
  .reviews__filter-item {
    margin: 0 0 10px; } }
@media screen and (max-width: 680px) {
  .reviews__filter-item {
    display: block;
    text-align: center; }
    .reviews__filter-item a {
      min-width: 240px; }
  .reviews__slider-list .slick-track, .reviews__slider-list .slick-list {
    height: auto; }
  .reviews__slider-item {
    text-align: center; }
    .reviews__slider-item img {
      max-width: 100%;
      height: auto; } }
/**
 *		Catalog
 */
.stages-work {
  padding-top: 47px;
  background-image: url("../img/stages-work-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }
  .stages-work h2 {
    margin-bottom: 44px; }
  .stages-work__list {
    display: inline-block;
    padding: 0;
    margin: 0 0 45px 120px;
    text-align: left;
    list-style-type: none; }
  .stages-work__item {
    position: relative;
    margin-bottom: 33px; }
    .stages-work__item:last-child {
      margin-bottom: 0; }
      .stages-work__item:last-child .stages-work__photo:before {
        display: none; }
  .stages-work__photo {
    position: relative;
    display: inline-block;
    vertical-align: middle; }
    .stages-work__photo:before {
      content: '';
      position: absolute;
      bottom: 15px;
      left: 50%;
      display: inline-block;
      width: 29px;
      height: 54px;
      background-image: url("../img/stage-arrow.png");
      -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
      transform: translate(-50%, 100%); }
    .stages-work__photo img {
      z-index: 1;
      position: relative;
      display: inline-block; }
  .stages-work__text {
    position: relative;
    display: inline-block;
    max-width: 370px;
    padding-left: 73px;
    vertical-align: middle; }
    .stages-work__text .number {
      position: absolute;
      top: -14px;
      left: 20px;
      display: inline-block;
      font-size: 36px;
      font-weight: 300;
      color: #d0d0d0; }
    .stages-work__text p {
      margin: 0;
      font-size: 18px;
      color: #626262; }
  .stages-work__group {
    position: absolute;
    top: 17px;
    left: -22px;
    display: inline-block;
    width: 200px;
    height: 162px;
    background-image: url("../img/stage-day-arrow.png");
    background-repeat: no-repeat;
    background-position: center right;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
    .stages-work__group:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    .stages-work__group span {
      display: inline-block;
      padding-bottom: 8px;
      font-size: 36px;
      font-weight: 300;
      letter-spacing: 1.7px;
      color: #6d6e71;
      vertical-align: middle; }
  .stages-work .form-box {
    position: relative;
    padding: 24px 8px 60px;
    margin-bottom: -10px;
    background-image: url("../img/form-box-bg.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .stages-work .form-box p {
      padding: 0 50px;
      margin-bottom: 38px;
      font-size: 24px;
      font-weight: 300;
      color: #525252; }
    .stages-work .form-box h2 {
      margin: 0 0 34px; }
    .stages-work .form-box:before, .stages-work .form-box:after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      background-size: cover; }
    .stages-work .form-box:before {
      top: -8px;
      height: 8px;
      background-image: url("../img/form-box-bg-top.png"); }
    .stages-work .form-box:after {
      bottom: -7px;
      height: 7px;
      background-image: url("../img/form-box-bg-bottom.png"); }

/**
 *		Media	
 */
@media screen and (max-width: 940px) {
  .stages-work .form-box h2 {
    margin-bottom: 17px; }
  .stages-work .form-box {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -5px -20px; }
    .stages-work .form-box p {
      padding: 0; }
  .stages-work__list {
    margin-left: 250px; }
  .stages-work__text {
    max-width: 250px; } }
@media screen and (max-width: 640px) {
  .stages-work .container {
    padding: 0 5px; }
  .stages-work .form-box {
    margin: 0 -5px -45px; }
    .stages-work .form-box p {
      font-size: 20px; }
    .stages-work .form-box h2 {
      padding: 0 55px 26px; }
  .stages-work__group {
    left: 33px;
    width: 165px;
    background-position: 95px 0; }
    .stages-work__group span {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .stages-work__list {
    margin-bottom: 0;
    margin-left: 75px; }
  .stages-work__item {
    min-height: 120px;
    margin: 0; }
  .stages-work__text {
    width: calc(100% - 90px);
    padding-left: 10px;
    padding-top: 10px; }
    .stages-work__text p {
      font-size: 16px; }
    .stages-work__text .number {
      display: none; }
  .stages-work__photo, .stages-work__text {
    vertical-align: top; } }
/**
 *		Catalog
 */
.text-info h2 {
  padding-bottom: 34px;
  margin: 0 0 40px; }
.text-info p:last-child {
  margin-bottom: 0; }

/**
 *		Media	
 */
@media screen and (max-width: 940px) {
  .text-info .container {
    padding: 0 20px; } }
/**
 *		Top panel
 */
.top-panel {
  padding: 19px 0; }
  .top-panel__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .top-panel__logo {
    width: 27%; }
    .top-panel__logo img {
      display: inline-block;
      max-width: 120px;
      margin-right: 7px;
      vertical-align: middle; }
  .top-panel__text-logo {
    display: inline-block;
    max-width: 130px;
    padding-left: 8px;
    margin-top: -7px;
    border-left: 1px solid #cdcdcd;
    vertical-align: middle; }
    .top-panel__text-logo p {
      margin: 0;
      font-size: 14px;
      line-height: 17px; }
  .top-panel__button {
    width: 47%;
    text-align: center; }
    .top-panel__button .button {
      margin-top: -7px; }
  .top-panel__social {
    width: 28%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .top-panel__social a.phone {
      position: relative;
      display: inline-block;
      padding-left: 28px;
      margin-bottom: 9px;
      font-family: 'Exo2SemiBold', Times New Roman, serif;
      font-size: 24px;
      color: #4a4a4a;
      letter-spacing: .7px; }
      .top-panel__social a.phone:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        display: inline-block;
        width: 22px;
        height: 22px;
        background-image: url("../img/header-phone.png"); }
    .top-panel__social .social-list {
      display: block;
      padding: 0;
      margin: 0;
      list-style-type: none; }
    .top-panel__social .social-item {
      display: inline-block;
      margin: 0 3px; }
      .top-panel__social .social-item a {
        display: block;
        width: 33px;
        height: 33px;
        border: 1px solid #d5d5d5;
        border-radius: 2px; }
      .top-panel__social .social-item--vk {
        background-image: url("../img/header-social-2.png");
        background-repeat: no-repeat;
        background-position: center; }
      .top-panel__social .social-item--in {
        background-image: url("../img/header-social-1.png");
        background-repeat: no-repeat;
        background-position: center; }
      .top-panel__social .social-item--ph {
        display: none;
        background-image: url("../img/header-phone.png");
        background-repeat: no-repeat;
        background-position: center; }
        .top-panel__social .social-item--ph a {
          border: 0; }
      .top-panel__social .social-item:last-child {
        margin-right: 0; }
  .top-panel.fixed {
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25); }

.open-menu {
  position: relative;
  display: none;
  width: 34px;
  height: 50px;
  margin: -9px 20px 0 0;
  background-color: transparent;
  border: 0;
  vertical-align: middle;
  cursor: pointer; }
  .open-menu:after, .open-menu:before {
    content: ''; }
  .open-menu span, .open-menu:after, .open-menu:before {
    position: absolute;
    left: 0;
    width: 34px;
    height: 4px;
    background-color: #1c6398; }
  .open-menu:after {
    top: 12px;
    -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
            transform-origin: top right; }
  .open-menu:before {
    bottom: 12px;
    -webkit-transform-origin: bottom right;
        -ms-transform-origin: bottom right;
            transform-origin: bottom right; }
  .open-menu span {
    top: 50%;
    left: 0;
    margin: -2px 0 0 0; }

.nav-mobile {
  z-index: 60;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-width: 480px;
  min-width: 320px;
  padding: 20px 15px 60px;
  background-color: #1c6398;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  overflow-y: auto; }
  .nav-mobile__list {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .nav-mobile__item {
    margin-bottom: 8px; }
    .nav-mobile__item a {
      display: inline-block;
      padding: 10px 6px;
      font-size: 18px;
      font-weight: 500;
      color: #fff; }
  .nav-mobile__logo {
    margin-bottom: 12px;
    margin-left: 5px; }
  .nav-mobile .nav-mobile__close {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-bottom: 20px;
    border: 0;
    background-color: transparent;
    background-image: url("../img/mobile-close.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }

/**
 *		Media	
 */
@media screen and (max-width: 1100px) {
  .top-panel__logo {
    width: 35%; }
  .top-panel__button {
    width: 43%; }
    .top-panel__button .button {
      padding: 14px 10px 16px; }
  .top-panel__social a.phone {
    font-size: 22px; } }
@media screen and (max-width: 940px) {
  .top-panel {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; }
    .top-panel__social {
      width: 20%;
      margin-top: -2px; }
      .top-panel__social a.phone {
        display: none; }
      .top-panel__social .social-item--ph {
        display: inline-block; }
    .top-panel__logo {
      width: 50%; }
    .top-panel__button {
      width: 30%; }
      .top-panel__button .button {
        padding: 5px 10px 6px; }

  .open-menu {
    display: inline-block; } }
@media screen and (max-width: 780px) {
  .top-panel__social {
    margin-top: -16px; } }
@media screen and (max-width: 680px) {
  .top-panel__wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .top-panel__logo {
    position: relative;
    width: 100%;
    text-align: center; }
  .top-panel__text-logo {
    width: 100%;
    max-width: 100%;
    border: 0;
    margin: 7px 0 15px;
    text-align: center; }
  .top-panel__button {
    width: 100%; }
  .top-panel__social .social-item--vk, .top-panel__social .social-item--in {
    display: none; }
  .top-panel__social .social-item--ph {
    position: absolute;
    top: 19px;
    right: 7px;
    background-image: none; }
    .top-panel__social .social-item--ph a {
      width: 32px;
      height: 32px;
      background-image: url("../img/phone.png");
      background-repeat: no-repeat; }

  .open-menu {
    position: absolute;
    top: 0;
    left: 0; } }
/**
 *		Top panel
 */
.work__button-list, .work__slider-list, .work__main-slider-list, .work__prev-slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none; }
.work__button-list {
  -webkit-flex-basis: 30.5%;
      -ms-flex-preferred-size: 30.5%;
          flex-basis: 30.5%;
  max-width: 30.5%;
  padding-right: 14px; }
  .work__button-list--mob {
    display: none; }
  .work__button-list .select-wrapper {
    position: relative; }
    .work__button-list .select-wrapper:before {
      content: '';
      position: absolute;
      top: 28px;
      right: 15px;
      display: block;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 6px solid #c92649; }
  .work__button-list select {
    width: 100%;
    height: 59px;
    padding: 0 20px;
    margin-bottom: 10px;
    font-family: 'Exo2', Times New Roman, serif;
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px solid #c7c7c7;
    color: #c92649;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none; }
.work__button-item:not(.work__button-item--all) {
  border: 1px solid #b4b4b4;
  margin-top: -1px;
  text-align: center; }
  .work__button-item:not(.work__button-item--all) a {
    display: inline-block;
    width: 100%;
    padding: 17px 10px 20px;
    font-size: 18px;
    color: #2c2c2c;
    background-color: #f5f5f5; }
  .work__button-item:not(.work__button-item--all).is-active a {
    color: #fff;
    background-color: #c42a4d; }
.work__button-item--all {
  margin-top: 11px; }
  .work__button-item--all a {
    text-align: center;
    width: 100%; }
.work__slider {
  -webkit-flex-basis: 69.5%;
      -ms-flex-preferred-size: 69.5%;
          flex-basis: 69.5%;
  max-width: 69.5%; }
.work__slider-item {
  height: 0;
  overflow: hidden; }
  .work__slider-item.is-active {
    height: auto; }
.work__main-slider-list {
  padding: 2px;
  border-radius: 2px;
  box-shadow: 0 0 3px 1px rgba(1, 1, 1, 0.28); }
  .work__main-slider-list .arrow {
    z-index: 5;
    display: block;
    position: absolute;
    top: 50%;
    width: 55px;
    height: 55px;
    background-color: transparent;
    border: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer; }
    .work__main-slider-list .arrow span {
      position: absolute;
      top: 50%;
      display: block;
      width: 17px;
      height: 29px;
      background-image: url("../img/arow-big-white.png");
      background-repeat: no-repeat;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      opacity: .8; }
    .work__main-slider-list .arrow:hover span {
      opacity: 1; }
    .work__main-slider-list .arrow.slick-disabled {
      display: none !important; }
.work__main-slider-item {
  width: 100%;
  height: 518px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .work__main-slider-item a {
    display: block;
    width: 100%;
    height: 100%; }
  .work__main-slider-item img {
    display: none; }
.work__link {
  margin-top: 11px;
  text-align: center; }
  .work__link--mob {
    display: none; }
  .work__link .button {
    padding: 14px 100px 16px; }
.work__prev-slider-list {
  margin-top: 14px;
  margin: 17px -8px 0; }
.work__prev-slider-item {
  margin: 3px 10px;
  cursor: pointer; }
  .work__prev-slider-item img {
    width: 100%;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px rgba(1, 1, 1, 0.28); }
  .work__prev-slider-item.slick-current img {
    border-color: #c92649; }

/**
 *		Media	
 */
@media screen and (max-width: 940px) {
  .work__button-list {
    padding-right: 0; } }
@media screen and (max-width: 640px) {
  .work .container {
    padding: 0 10px; }
  .work__button-list {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center; }
    .work__button-list--desc {
      display: none; }
    .work__button-list--mob {
      display: block; }
    .work__button-list .button {
      width: 100%;
      max-width: 230px; }
  .work__slider {
    width: 100%;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    max-width: 100%; }
  .work__link--desc {
    display: none; }
  .work__link--mob {
    display: block !important; }
  .work__link .button {
    width: 100%;
    padding: 14px 10px 16px; }
  .work__main-slider-item {
    height: 270px; } }
/**
*		About
*/
.inner-title {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0 0 20px;
  padding-bottom: 19px;
  line-height: .9; }

.text-inner-link {
  color: #c92649;
  text-decoration: underline; }
  .text-inner-link:hover, .text-inner-link:focus {
    text-decoration: none; }

.inner-list {
  list-style: none; }
  .inner-list--about {
    margin-top: 20px;
    margin-bottom: 20px; }
  .inner-list__item {
    padding: 4px 0 5px 55px;
    position: relative;
    line-height: 30px;
    margin-bottom: 8px;
    color: #4e4d4e;
    line-height: 22px; }
    .inner-list__item:before {
      content: '';
      display: block;
      position: absolute;
      width: 12px;
      height: 12px;
      background: #1d649a;
      border-radius: 50%;
      top: 10px;
      left: 32px; }

.numeral-list--about {
  margin-top: 30px;
  margin-bottom: 20px; }
  .numeral-list--about .inner-list__item:before {
    display: none; }
.numeral-list__num {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  height: 30px;
  width: 30px;
  background: #1d649a;
  line-height: 30px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 12px;
  border-radius: 50%; }

.bottom-block__col-pic {
  max-width: 245px;
  width: 100%;
  float: left; }
.bottom-block__pic-wrapper {
  margin: 0 0 5px 0; }
.bottom-block__pic {
  display: block;
  width: 100%;
  height: auto; }
.bottom-block__descr {
  margin-left: 257px; }
.bottom-block__text {
  color: #4e4d4e; }
.bottom-block--about {
  margin: 30px 0 134px; }

.bottom-block-list {
  list-style: none;
  margin: 20px 0; }
  .bottom-block-list__item {
    color: #4e4d4e; }

@media screen and (max-width: 780px) {
  .content--inner {
    margin-top: 27px; } }
@media screen and (max-width: 680px) {
  .inner-title {
    font-size: 25px;
    padding-bottom: 25px;
    letter-spacing: 0; } }
@media screen and (max-width: 640px) {
  .inner-list__item {
    padding-left: 30px;
    line-height: 19px; }
    .inner-list__item:before {
      left: 5px; }
  .inner-list__num {
    left: 5px; }

  .numeral-list .inner-list__item {
    padding-left: 45px; }
  .numeral-list__num {
    left: 0; }

  .bottom-block--about {
    margin: 20px 0 70px; }
  .bottom-block__col-pic {
    max-width: 100%;
    float: none;
    margin-bottom: 20px; }
  .bottom-block__pic-wrapper {
    display: none; }
    .bottom-block__pic-wrapper--mobile {
      display: block; }
  .bottom-block__descr {
    margin-left: 0; } }
/**
*		Portfolio
*/
.portfolio-box {
  margin-top: 22px; }
  .portfolio-box--portfolio {
    margin-bottom: 198px; }
  .portfolio-box__list {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 -10px; }
  .portfolio-box__item {
    padding: 0 10px;
    margin-bottom: 22px;
    width: 33.28%; }
  .portfolio-box__inner {
    height: 100%;
    border: 1px solid #c6c6c6;
    background: #fff; }
  .portfolio-box__link {
    display: block; }
  .portfolio-box__text {
    text-align: center;
    display: block;
    color: #1c6398;
    text-decoration: underline;
    font-size: 18px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    padding: 15px 5px 15px; }
    .portfolio-box__text:hover, .portfolio-box__text:focus {
      text-decoration: none; }
  .portfolio-box__pic {
    display: block;
    width: 100%;
    height: auto; }

.bottom-card-line {
  padding: 16px 15px 6px 6px; }

.bottom-card-line-params {
  float: left; }
  .bottom-card-line-params__price {
    font-size: 22px;
    color: #c92649;
    font-weight: 700;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 20px;
    display: block;
    margin: 5px 0; }
  .bottom-card-line-params__icon {
    font-size: 14px; }
  .bottom-card-line-params__area {
    display: block;
    font-size: 20px;
    color: #414141;
    margin: 13px 0 10px; }
  .bottom-card-line-params__index {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600; }

.bottom-card-line-list {
  float: right; }
  .bottom-card-line-list__link {
    display: block;
    color: #4d4d4d;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', Arial, sans-serif; }
  .bottom-card-line-list__icon {
    color: #206ba5;
    font-size: 16px;
    padding-right: 8px; }

@media screen and (max-width: 890px) {
  .portfolio-box__item {
    width: 49.9%; } }
@media screen and (max-width: 600px) {
  .portfolio-box__list {
    display: block; }
  .portfolio-box__item {
    width: 100%;
    display: block;
    margin-bottom: 10px; }
  .portfolio-box--portfolio {
    margin-bottom: 40px; } }
/**
*		Contacts
*/
.contacts-block {
  margin: 45px 0 50px; }

.contacts-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contact-descr {
  position: relative;
  padding-left: 35px; }
  .contact-descr:before {
    content: '';
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center; }
  .contact-descr--address:before {
    width: 24px;
    height: 33px;
    top: -2px;
    left: 0;
    background-image: url(../img/icon-loc.png); }
  .contact-descr--phone:before {
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-image: url(../img/icon-phone.png); }
  .contact-descr--mail {
    padding-right: 13px; }
    .contact-descr--mail:before {
      width: 27px;
      height: 19px;
      top: 2px;
      left: -4px;
      background-image: url(../img/icon-mail.png); }
  .contact-descr__text {
    color: #6a6a6a;
    font-size: 16px;
    line-height: 1.2;
    display: block;
    font-family: 'HelveticaNeueCyr-Medium', Arial, sans-serif; }
    .contact-descr__text--title {
      font-size: 18px;
      font-weight: 500; }

.map {
  display: block;
  height: 355px;
  margin-bottom: 80px; }

#map {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 680px) {
  .contacts-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contacts-list__item {
      margin-bottom: 18px; }

  .contacts-block {
    margin-bottom: 25px; } }
/**
*		Partners
*/
.form-partners-block {
  background: #b6d9f2;
  position: relative;
  margin: 56px 0 120px; }
  .form-partners-block:before, .form-partners-block:after {
    content: '';
    display: block;
    background-size: 14px 8px;
    height: 8px;
    position: absolute;
    left: 0;
    width: 100%; }
  .form-partners-block:before {
    top: -8px;
    background-image: -webkit-linear-gradient(45deg, #b6d9f2 5px, transparent 5px), -webkit-linear-gradient(135deg, #b6d9f2 5px, transparent 5px);
    background-image: linear-gradient(45deg, #b6d9f2 5px, transparent 5px), linear-gradient(315deg, #b6d9f2 5px, transparent 5px); }
  .form-partners-block:after {
    bottom: -8px;
    background-image: -webkit-linear-gradient(315deg, #b6d9f2 5px, transparent 5px), -webkit-linear-gradient(225deg, #b6d9f2 5px, transparent 5px);
    background-image: linear-gradient(135deg, #b6d9f2 5px, transparent 5px), linear-gradient(225deg, #b6d9f2 5px, transparent 5px); }

.box-form {
  padding: 21px 0 25px; }
  .box-form h2 {
    color: #404040;
    margin-bottom: 40px; }
    .box-form h2:before {
      background-color: #424e57; }
  .box-form__col {
    padding: 0 18px;
    float: left; }
    .box-form__col--half {
      width: 50%; }
    .box-form__col--full {
      width: 100%; }

input[required]:invalid + span {
  display: inline-block; }

input[required]:valid + span {
  display: none; }

.box-field {
  position: relative;
  margin-bottom: 18px; }
  .box-field__placeholder {
    font-family: 'Exo2', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.32;
    position: absolute;
    top: 15px; }
    .box-field__placeholder:after {
      content: '*';
      color: #ca405f; }
    .box-field__placeholder--user {
      left: 136px; }
    .box-field__placeholder--phone {
      left: 205px; }
  .box-field__label {
    width: 42px;
    height: 30px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border-right: 1px solid #d1d1d1; }
    .box-field__label:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center center; }
    .box-field__label--user:before {
      width: 18px;
      height: 18px;
      background-image: url(../img/input-icon-1.png); }
    .box-field__label--phone:before {
      width: 16px;
      height: 18px;
      background-image: url(../img/input-icon-2.png); }
    .box-field__label--site:before {
      width: 24px;
      height: 24px;
      background-image: url(../img/input-icon-3.png); }
    .box-field__label--mail:before {
      width: 22px;
      height: 16px;
      background-image: url(../img/input-icon-4.png); }

.form-control {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  display: block;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.32;
  font-family: 'Exo2', Arial, sans-serif; }
  .form-control::-webkit-input-placeholder {
    color: #000;
    opacity: .5; }
  .form-control:-moz-placeholder {
    color: #000;
    opacity: .5; }
  .form-control::-moz-placeholder {
    color: #000;
    opacity: .5; }
  .form-control:-ms-input-placeholder {
    color: #000;
    opacity: .5; }
  .form-control--input {
    height: 50px;
    padding: 0 10px 0 58px; }
  .form-control--textarea {
    min-height: 126px;
    padding: 10px 11px;
    resize: none;
    letter-spacing: 1px; }

.box__btn {
  text-align: center;
  padding: 0 18px; }

.btn {
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  cursor: pointer; }
  .btn--submit {
    border-color: #b23853;
    color: #fff;
    background: #ca405f;
    font-family: 'Exo2', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.32;
    font-weight: 500;
    letter-spacing: 1px;
    max-width: 300px;
    width: 100%;
    height: 50px;
    border-radius: 50px; }

@media screen and (max-width: 540px) {
  .form-partners-block {
    margin-left: -10px;
    margin-right: -10px;
    background: url(../img/_form-box-bg.png) no-repeat center center;
    background-size: cover;
    margin-bottom: 0; }
    .form-partners-block:before, .form-partners-block:after {
      display: none; }

  .box-form__col--half {
    width: 100%; } }
/**
*		Card
*/
.to-order-block {
  margin-bottom: 20px; }

.slider-order-col {
  float: left;
  width: 61.5%; }

.slider-order__item {
  padding: 5px;
  background: #fff;
  border: 1px solid #d5d5d5; }
.slider-order__pic {
  display: block;
  width: 100%;
  height: auto; }

.slider-order-nav {
  padding: 0 30px;
  margin-top: 8px; }
  .slider-order-nav .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border: none;
    width: 14px;
    height: 28px;
    font-size: 0;
    background: transparent;
    cursor: pointer; }
    .slider-order-nav .slick-arrow:before {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%; }
  .slider-order-nav .slick-prev {
    left: 4px; }
    .slider-order-nav .slick-prev:before {
      border-bottom: 3px solid #7e7e7e;
      border-left: 3px solid #7e7e7e;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
  .slider-order-nav .slick-next {
    right: 4px; }
    .slider-order-nav .slick-next:before {
      border-bottom: 3px solid #7e7e7e;
      border-right: 3px solid #7e7e7e;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
  .slider-order-nav__item {
    cursor: pointer;
    padding: 4px;
    border: 1px solid #d7d7d7;
    margin: 0 4px; }
    .slider-order-nav__item--video {
      position: relative; }
      .slider-order-nav__item--video:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 33px;
        height: 33px;
        background: url(../img/icon-video.png) no-repeat center center;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .slider-order-nav__pic {
    width: 100%; }

.order-col {
  float: left;
  width: 38.5%;
  max-width: 385px;
  padding-left: 20px; }

.order-form__price {
  display: block;
  font-size: 36px;
  line-height: 1.3;
  color: #1c6398;
  font-weight: 600;
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 23px; }
.order-form__icon {
  font-weight: 700;
  font-size: 36px; }
.order-form__btn {
  border: none;
  color: #fff;
  width: 300px;
  height: 50px;
  background: #c92649;
  border-radius: 50px;
  font-size: 18px;
  font-family: 'Exo2', Arial, sans-serif;
  font-weight: 600;
  box-shadow: 0 2px 0 2px rgba(147, 25, 52, 0.75);
  margin-bottom: 32px;
  letter-spacing: 1px; }

.char-table-short {
  width: 100%;
  background: #fafafa;
  border-collapse: collapse;
  border: 1px solid #dcdcdc; }
  .char-table-short__row {
    border-bottom: 1px solid #dcdcdc; }
    .char-table-short__row:nth-child(odd) {
      background: #ebebeb; }
  .char-table-short__cell {
    padding: 13px 10px 12px;
    vertical-align: middle;
    text-align: left;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #404040; }
    .char-table-short__cell:last-child {
      font-weight: 600; }
  .char-table-short__head {
    font-weight: 600;
    border-bottom: 3px solid #2b6d9e;
    color: #2b6d9e;
    padding: 14px 10px 11px;
    vertical-align: middle;
    text-align: left;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px; }

.char-block {
  margin-top: 37px; }

.char-table {
  width: 100%;
  background: #fafafa;
  border-collapse: collapse; }
  .char-table__row:nth-child(odd) {
    background: #ebebeb; }
  .char-table__row--footer, .char-table__row--footer:nth-child(odd) {
    background: #2d6e9f; }
  .char-table__cell {
    padding: 11px 15px 14px 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 2px;
    border: 1px solid #dcdcdc;
    color: #404040; }
    .char-table__cell--price {
      color: #424242;
      font-weight: 700; }
    .char-table__cell--footer {
      color: #fff; }
      .char-table__cell--footer:first-child {
        border-right: none; }
      .char-table__cell--footer:last-child {
        border-left: none; }
    .char-table__cell:first-child {
      text-align: left; }
  .char-table__head {
    font-weight: 600;
    border-bottom: 3px solid #2b6d9e;
    color: #2b6d9e; }

.char-table-sup {
  font-size: 14px; }

.char-load {
  margin: 0 0 40px; }
  .char-load__link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-weight: 600;
    font-family: 'Exo 2', Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #515151;
    text-decoration: underline;
    padding-left: 52px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-right: 60px; }
    .char-load__link:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 12px;
      width: 30px;
      height: 30px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain; }
    .char-load__link:hover, .char-load__link:focus {
      text-decoration: none; }
    .char-load__link--excel:before {
      background-image: url(../img/load-excel.png); }
    .char-load__link--pdf:before {
      background-image: url(../img/load-pdf.png); }

.similar-box {
  margin-bottom: 40px;
  margin-top: 30px; }
  .similar-box__list {
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .similar-box__item {
    width: 24.3%;
    padding: 3px;
    border: 1px solid #cbcbcb;
    background: #fff;
    margin-bottom: 15px; }
  .similar-box__link {
    display: block; }
    .similar-box__link:hover .similar-box__title {
      text-decoration: none; }
  .similar-box__pic {
    display: block;
    width: 100%;
    height: auto; }
  .similar-box__title {
    display: block;
    color: #1c6398;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: underline;
    font-family: 'Open Sans', Arial, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 15px; }

.similar-box-bottom {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-bottom: 10px; }
  .similar-box-bottom .dimen {
    float: left;
    font-size: 20px;
    color: #414141;
    line-height: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 600;
    margin-top: 20px; }
  .similar-box-bottom .price {
    float: right;
    line-height: 20px;
    color: #c92649;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-right: 15px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 700; }
    .similar-box-bottom .price__from {
      font-size: 18px;
      font-weight: 400; }
    .similar-box-bottom .price__icon {
      font-size: 14px; }

@media screen and (max-width: 910px) {
  .slider-order-col {
    float: none;
    width: 100%;
    margin-bottom: 25px; }

  .order-col {
    float: none;
    width: 100%;
    padding-left: 0; } }
@media screen and (max-width: 820px) {
  .similar-box__item {
    width: 48.5%; }

  .similar-box-bottom .price {
    margin-right: 0; } }
@media screen and (max-width: 600px) {
  .char-table {
    border: 1px solid #dcdcdc; }
    .char-table__row {
      display: block;
      border-bottom: 1px solid #dcdcdc; }
      .char-table__row:last-child {
        border-bottom: none; }
    .char-table__cell {
      display: block;
      width: 100%;
      border: none;
      font-size: 16px;
      padding: 0;
      line-height: 27px;
      overflow: hidden; }
      .char-table__cell:first-child {
        text-align: center; }
      .char-table__cell:before {
        content: attr(data-label);
        float: left;
        width: 68.75%;
        text-align: left;
        border-right: 2px solid #1c6398;
        color: #1c6398;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        padding-left: 8px;
        letter-spacing: 1px;
        background: #ebebeb; }
      .char-table__cell:first-child:before {
        padding-top: 5px; }
      .char-table__cell:last-child:before {
        padding-bottom: 5px; }
      .char-table__cell--footer {
        line-height: 42px; }
        .char-table__cell--footer:before {
          color: #fff;
          line-height: 42px;
          border-right: none;
          background: #2d6e9f; }
        .char-table__cell--footer:last-child:before {
          padding-bottom: 0; }
      .char-table__cell--footer-collapce {
        display: none; }
    .char-table__head {
      display: none; }

  .char-table-hide {
    display: none; } }
@media screen and (max-width: 480px) {
  .order-form__price {
    margin-bottom: 10px; }

  .similar-box__title {
    font-size: 14px; }

  .order-form__btn {
    margin-bottom: 22px; }

  .to-order-block {
    margin-bottom: 25px; }

  .similar-box-bottom .dimen {
    float: none;
    display: block;
    margin-top: 6px; }
  .similar-box-bottom .price {
    float: none;
    display: block;
    margin-top: 6px;
    font-size: 22px; }
    .similar-box-bottom .price__from {
      display: none; }

  .char-table-short__head {
    padding-left: 10px;
    padding-right: 10px; }
  .char-table-short__cell {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 0; }
    .char-table-short__cell:last-child {
      padding-left: 0;
      padding-right: 5px; } }
/**
*		Work-inner
*/
.work-block {
  margin-top: 25px;
  margin-bottom: 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.slider-work-block {
  width: 43.5%; }

.slider-work__item {
  cursor: pointer; }
.slider-work__pic {
  display: block;
  width: 100%;
  height: auto; }

.slider-work-nav {
  padding: 0 15px;
  margin-top: 8px; }
  .slider-work-nav .slick-arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    border: none;
    width: 14px;
    height: 28px;
    font-size: 0;
    background: transparent;
    cursor: pointer; }
    .slider-work-nav .slick-arrow:before {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 18px;
      top: 50%;
      left: 50%; }
  .slider-work-nav .slick-prev {
    left: 4px; }
    .slider-work-nav .slick-prev:before {
      border-bottom: 3px solid #7e7e7e;
      border-left: 3px solid #7e7e7e;
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
  .slider-work-nav .slick-next {
    right: 4px; }
    .slider-work-nav .slick-next:before {
      border-bottom: 3px solid #7e7e7e;
      border-right: 3px solid #7e7e7e;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          -ms-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
  .slider-work-nav__item {
    cursor: pointer;
    padding: 4px;
    border: 1px solid #d7d7d7;
    margin: 0 1px; }
    .slider-work-nav__item--video {
      position: relative; }
      .slider-work-nav__item--video:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 33px;
        height: 33px;
        background: url(../img/icon-video.png) no-repeat center center;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .slider-work-nav__pic {
    width: 100%; }

.video-work {
  width: 27.5%; }
  .video-work__video {
    display: block;
    margin-bottom: 34px; }
  .video-work__preview {
    display: block;
    width: 100%;
    height: auto; }
  .video-work__popup {
    max-width: 216px;
    display: block;
    position: relative; }
    .video-work__popup:before {
      content: '';
      display: block;
      width: 65px;
      height: 64px;
      background: url(../img/search.png) no-repeat center center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .video-work__pic {
    width: 100%;
    height: auto;
    display: block; }

.work-descr {
  width: 25.3%; }
  .work-descr__price {
    display: block;
    font-size: 36px;
    line-height: .8;
    color: #1c6398;
    font-weight: 600;
    font-family: 'Open Sans', Arial, sans-serif;
    margin-bottom: 8px;
    margin-top: -4px; }
  .work-descr__icon {
    font-weight: 700;
    font-size: 36px; }
  .work-descr__title {
    color: #1c6398;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    font-family: 'Open Sans', Arial, sans-serif;
    display: block; }
  .work-descr__text {
    font-size: 18px;
    line-height: 26px;
    color: #4d4d4d;
    font-family: 'Open Sans', Arial, sans-serif;
    display: block; }
    .work-descr__text--author {
      font-style: italic;
      font-size: 18px;
      line-height: 26px;
      color: #4d4d4d;
      font-family: 'Open Sans', Arial, sans-serif;
      display: block;
      margin-bottom: 18px;
      margin-top: 2px; }
    .work-descr__text--date {
      margin-bottom: 7px; }
      .work-descr__text--date:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 27px;
        height: 26px;
        background: url(../img/calendar.png) no-repeat center center;
        margin: -3px 13px 0 0; }
    .work-descr__text--time {
      margin-bottom: 8px; }
      .work-descr__text--time:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 23px;
        height: 23px;
        background: url(../img/clock.png) no-repeat center center;
        margin: -2px 15px 0 2px; }

.citate {
  margin-bottom: 40px; }
  .citate:before {
    content: '';
    display: block;
    width: 90px;
    height: 64px;
    background: url(../img/cite.png) no-repeat center center;
    margin-bottom: 5px; }

.char-title {
  display: block;
  font-weight: 300;
  font-family: 'Exo2', Arial, sans-serif;
  letter-spacing: 2px;
  color: #494848;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px; }

@media screen and (max-width: 768px) {
  .work-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  .slider-work-block {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-bottom: 20px; }

  .video-work {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    max-width: 275px;
    margin-left: auto;
    margin-right: auto; }
    .video-work__popup {
      margin-left: auto;
      margin-right: auto; }

  .work-descr {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-bottom: 25px; } }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2Light.eot");
  src: url("../fonts/Exo2Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Light.woff") format("woff"), url("../fonts/Exo2Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2Regular.eot");
  src: url("../fonts/Exo2Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Regular.woff") format("woff"), url("../fonts/Exo2Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2Medium.eot");
  src: url("../fonts/Exo2Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2Medium.woff") format("woff"), url("../fonts/Exo2Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: 'Exo2SemiBold';
  src: url("../fonts/Exo2SemiBold.eot");
  src: url("../fonts/Exo2SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2SemiBold.woff") format("woff"), url("../fonts/Exo2SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'Ruble';
  src: url("../fonts/RUBSN.eot");
  src: url("../fonts/RUBSN.eot?#iefix") format("embedded-opentype"), url("../fonts/RUBSN.woff") format("woff"), url("../fonts/RUBSN.ttf") format("truetype"), url("../fonts/RUBSN.svg#RUBSN") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FFFD; }
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr-Medium.otf") format("opentype"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0; }

html {
  font-size: 100%;
  font-family: 'Exo2', Times New Roman, serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased; }

body {
  color: #252525;
  background-color: #fff; }

main {
  padding-top: 50px; }

h2 {
  position: relative;
  font-size: 36px;
  font-weight: 300;
  padding-bottom: 26px;
  margin: 0 0 60px;
  text-align: center;
  letter-spacing: 1.9px; }
  h2:before, h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-block;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  h2:before {
    bottom: 2px;
    width: 178px;
    height: 1px;
    background-color: #b8b8b8; }
  h2:after {
    z-index: 1;
    width: 72px;
    height: 3px;
    background-color: #ca405f; }
  h2.left {
    text-align: left; }
    h2.left:before, h2.left:after {
      left: 0;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }

a {
  text-decoration: none; }

p {
  margin: 0 0 20px;
  line-height: 1.3; }

.wrapper {
  min-width: 320px;
  overflow: hidden; }
  .wrapper.menu-open .nav-mobile {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .wrapper .wrapper-substrate {
    z-index: 55;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 32, 0.8);
    cursor: pointer; }

.wrapper-content {
  z-index: 1;
  position: relative; }

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px; }
  .row--no-margin {
    margin: 0; }

.block {
  padding: 50px 0; }
  .block--blue {
    background-color: #f2f6f8; }
  .block--no-indent {
    padding-bottom: 0; }

.button {
  -webkit-transition: all .3s;
  transition: all .3s;
  display: inline-block;
  padding: 14px 30px 13px;
  font-family: 'Exo2SemiBold', Times New Roman, serif;
  font-size: 14px;
  letter-spacing: .7px;
  color: #fff;
  background-color: #c92649;
  border-radius: 30px;
  border: 2px solid #c92649;
  box-shadow: 0 2px 2px 1px rgba(115, 2, 26, 0.75);
  text-transform: uppercase;
  cursor: pointer; }
  .button--transparent {
    background-color: transparent;
    color: #c92649;
    border: 2px solid #c92649;
    box-shadow: none; }
  .button:hover {
    background-color: #db284f;
    border: 2px solid #db284f;
    color: #fff; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .form__group {
    width: 30.5%;
    padding: 0 10px; }
    .form__group input {
      width: 100%;
      height: 48px;
      padding: 0 30px 0 56px;
      border: 1px solid #e0e0e0; }
    .form__group input::-webkit-input-placeholder {
      font-family: 'Exo2', Times New Roman, serif;
      font-size: 16px;
      font-weight: 300;
      color: #908f8f; }
    .form__group input::-moz-placeholder {
      font-family: 'Exo2', Times New Roman, serif;
      font-size: 16px;
      font-weight: 300;
      color: #908f8f; }
    .form__group input:-moz-placeholder {
      font-family: 'Exo2', Times New Roman, serif;
      font-size: 16px;
      font-weight: 300;
      color: #908f8f; }
    .form__group input:-ms-input-placeholder {
      font-family: 'Exo2', Times New Roman, serif;
      font-size: 16px;
      font-weight: 300;
      color: #908f8f; }
    .form__group--button {
      width: 39%;
      padding: 0 17px; }
      .form__group--button .button {
        width: 100%;
        padding: 15px 30px;
        box-shadow: none;
        letter-spacing: 1.7px; }
    .form__group--input {
      position: relative; }
      .form__group--input:after {
        content: '';
        position: absolute;
        top: 0; }
      .form__group--input:after {
        top: 10px;
        left: 54px;
        width: 1px;
        height: 31px;
        background-color: #d1d1d1; }
      .form__group--input span {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        display: block; }
        .form__group--input span.man {
          top: 15px;
          left: 23px;
          width: 17px;
          height: 17px;
          background-image: url("../img/input-icon-1.png"); }
        .form__group--input span.phone {
          top: 16px;
          left: 28px;
          width: 16px;
          height: 17px;
          background-image: url("../img/input-icon-2.png"); }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

/**
 *		Media	
 */
@media screen and (max-width: 1100px) {
  .form__group {
    width: 29.5%; }
    .form__group--button {
      width: 41%; }
      .form__group--button .button {
        padding: 15px 20px;
        letter-spacing: 1.2px; } }
@media screen and (max-width: 940px) {
  main {
    padding-top: 82px; }

  .container {
    padding: 0 5px; }

  .form {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .form__group {
      width: 50%; }
      .form__group--button {
        width: 100%;
        margin-top: 13px; }
        .form__group--button .button {
          max-width: 350px; } }
@media screen and (max-width: 680px) {
  h2 {
    margin: 0 0 30px;
    font-size: 26px;
    letter-spacing: 1.2px;
    text-align: center; }

  main {
    padding-top: 142px; }

  .container {
    padding: 0 10px; }

  .block {
    padding: 40px 0; }

  .form__group--input {
    width: 100%;
    max-width: 376px;
    margin: 13px auto 0; }
    .form__group--input:first-child {
      margin-top: 0; }
  .form__group--button {
    padding: 0 10px; }
    .form__group--button .button {
      padding: 9px 5px; } }

/*# sourceMappingURL=style.css.map */