/**
*		About
*/

.inner-title {
	font-size: 30px;
	letter-spacing: 1px;
	margin: 0 0 20px;
	padding-bottom: 19px;
	line-height: .9;
}

.text-inner-link {
	color: #c92649;
	text-decoration: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.inner-list {
	list-style: none;

	&--about {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__item {
		padding: 4px 0 5px 55px;
		position: relative;
		line-height: 30px;
		margin-bottom: 8px;
		color: #4e4d4e;
		line-height: 22px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 12px;
			height: 12px;
			background: #1d649a;
			border-radius: 50%;
			top: 10px;
			left: 32px;
		}
	}
}

.numeral-list {

	&--about {
		margin-top: 30px;
		margin-bottom: 20px;

		.inner-list__item {
			&:before {
				display: none;
			}
		}
	}

	&__num {
		font-weight: 500;
		color: #fff;
		font-size: 18px;
		height: 30px;
		width: 30px;
		background: #1d649a;
		line-height: 30px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 12px;
		border-radius: 50%;
	}
}

.bottom-block {

	&__col-pic {
		max-width: 245px;
		width: 100%;
		float: left;
	}

	&__pic-wrapper {
		margin: 0 0 5px 0;
	}

	&__pic {
		display: block;
		width: 100%;
		height: auto;
	}

	&__descr {
		margin-left: 257px;
	}

	&__text {
		color: #4e4d4e;
	}

	&--about {
		margin: 30px 0 134px;
	}
}

.bottom-block-list {
	list-style: none;
	margin: 20px 0;

	&__item {
		color: #4e4d4e;
	}
}


@media screen and (max-width: 780px) {
	.content {

		&--inner {
			margin-top: 27px;
		}
	}
}

@media screen and (max-width: 680px) {
	.inner-title {
		font-size: 25px;
		padding-bottom: 25px;
		letter-spacing: 0;
	}
}

@media screen and (max-width: 640px) {

	.inner-list {

		&__item {
			padding-left: 30px;
			line-height: 19px;
			&:before {
				left: 5px;
			}
		}

		&__num {
			left: 5px;
		}
	}

	.numeral-list {

		.inner-list__item {
			padding-left: 45px;
		}

		&__num{
			left: 0;
		}
	}

	.bottom-block {

		&--about {
			margin: 20px 0 70px;
		}

		&__col-pic {
			max-width: 100%;
			float: none;
			margin-bottom: 20px;
		}

		&__pic-wrapper {
			display: none;

			&--mobile {
				display: block;
			}
		}

		&__descr {
			margin-left: 0;
		}
	}
}