/**
 *		Advantages
 */

.advantages {
	position: relative;
	background-image: url('../img/advantages-bg.png');
	background-repeat: no-repeat;
	
	&__list {
		padding: 0;
		margin: 0 -5px;
		list-style-type: none;
	}
	
	&__item {
		display: flex;
		flex-wrap: nowrap;
		align-items: flex-start;
		width: 30%;
		margin-top: 50px;
		padding: 0 5px;
		
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-top: 0;
		}
		
		&:nth-child(2),
		&:nth-child(5) {
			width: 40%;
			padding: 0 30px;
			
			.advantages__logo {
				width: 30%;
			}
			
			.advantages____text {
				width: 70%;
			}
		}
	}
	
	&__logo {
		display: inline-block;
		width: 24%;
    margin-top: 5px;
		
		img {
			max-width: 100%;
			padding-right: 10px;
		}
	}
	
	&__text {
		display: inline-block;
		width: 76%;
		
		p {
			margin: 0;
			font-size: 14px;
			color: #464646;
			line-height: 17px;
			
			&.title {
				margin-bottom: 17px;
				font-size: 20px;
				font-weight: 500;
				color: #404040;
				line-height: 24px;
				letter-spacing: .9px;
			}
		}
	}
}

/**
 *		Media	
 */

@media screen and (max-width: 940px) {

	.advantages {
		
		&__item {
			width: 50%;
			padding-right: 30px;
			margin-top: 40px;
			
			&:nth-child(2),
			&:nth-child(5) {
				width: 50%;
				padding: 0;
			}
			
			&:nth-child(3) {
				margin-top: 40px;
			}
		}
		
		&__logo {
			width: 30%;
			text-align: center;
		}
	}
	
}
 
@media screen and (max-width: 640px) {
	
	.advantages {
		
		&__item {
			width: 100%;
			margin-top: 30px;
			
			&:nth-child(2),
			&:nth-child(5) {
				width: 100%;
			}
			
			&:nth-child(2),
			&:nth-child(3) {
				margin-top: 30px;
			}
		}
	}
	
}