/**
 *		Banner slider
 */

.banner-slider {
	position: relative;
	
	&__list {
		padding: 0;
		margin: 0;
	}
	
	&__item {
		width: 100%;
		height: 456px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.dots__line {
	position: absolute;
	left: 50%;
	bottom: 22px;
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	transform: translate(-50%,0);
	list-style-type: none;
	
	li {
		display: inline-block;
		width: 69px;
		height: 5px;
		margin: 0 10px;
		border-radius: 2px;
		background-color: rgba(0,0,0,.37);
		font-size: 0;
		cursor: pointer;
		
		&.slick-active {
			background-color: rgba(193,38,72,1);
		}
		
		button {
			background-color: transparent;
			border: 0;
		}
	}
}

.arrow {
	z-index: 5;
	display: block;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0,-50%);
	-ms-transform: translate(0,-50%);
	transform: translate(0,-50%);
	cursor: pointer;

	&__circle {
		width: 55px;
		height: 55px;
		background-color: #000;
		border: 0;
		border-radius: 50%;
		opacity: .34;
		
		span {
			position: absolute;
			top: 50%;
			display: block;
			width: 17px;
			height: 29px;
			background-image: url('../img/arow-big-white.png');
			background-repeat: no-repeat;
			-webkit-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			transform: translate(0,-50%);
		}
		
		&:hover {
			opacity: .5;
		}
	}
	
	&__prev {
		left: 10px;
		
		span {
			left: 17px;
			background-position: center left;
		}
	}
	
	&__next {
		right: 10px;
		
		span {
			left: 23px;
			background-position: center right;
		}
	}
}

/**
 *		Media	
 */

 
@media screen and (max-width: 640px) {
	
	.banner-slider {
		
		&__item {
			height: 265px;
		}
	}
	
	.dots__line {
		width: 100%;
		text-align: center;
	}
	
}