/**
*		Card
*/

.to-order-block {
	margin-bottom: 20px;
}

.slider-order-col {
	float: left;
	width: 61.5%;
}

.slider-order {

	&__item {
		padding: 5px;
		background: #fff;
		border: 1px solid #d5d5d5;
	}

	&__pic {
		display: block;
		width: 100%;
		height: auto;
	}
}

.slider-order-nav {
	padding: 0 30px;
	margin-top: 8px;

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0 , -50%);
		border: none;
		width: 14px;
		height: 28px;
		font-size: 0;
		background: transparent;
		cursor: pointer;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			top: 50%;
			left: 50%;
		}
	}

	.slick-prev {
		left: 4px;

		&:before {
			border-bottom: 3px solid #7e7e7e;
			border-left: 3px solid #7e7e7e;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	.slick-next {
		right: 4px;

		&:before {
			border-bottom: 3px solid #7e7e7e;
			border-right: 3px solid #7e7e7e;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__item {
		cursor: pointer;
		padding: 4px;
		border: 1px solid #d7d7d7;
		margin: 0 4px;

		&--video {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 33px;
				height: 33px;
				background: url(../img/icon-video.png) no-repeat center center;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__pic {
		width: 100%;
	}
}

.order-col {
	float: left;
	width: 38.5%;
	max-width: 385px;
	padding-left: 20px;
}

.order-form {

	&__price {
		display: block;
		font-size: 36px;
		line-height: 1.3;
		color: #1c6398;
		font-weight: 600;
		font-family: 'Open Sans', Arial, sans-serif;
		margin-bottom: 23px;
	}

	&__icon {
		font-weight: 700;
		font-size: 36px;
	}

	&__btn {
		border: none;
		color: #fff;
		width: 300px;
		height: 50px;
		background: #c92649;
		border-radius: 50px;
		font-size: 18px;
		font-family: 'Exo2', Arial, sans-serif;
		font-weight: 600;
		box-shadow: 0 2px 0 2px rgba(#931934, .75);
		margin-bottom: 32px;
		letter-spacing: 1px;
	}
}

.char-table-short {
	width: 100%;
	background: #fafafa;
	border-collapse: collapse;
	border: 1px solid #dcdcdc;

	&__row {
		border-bottom: 1px solid #dcdcdc;

		&:nth-child(odd) {
			background: #ebebeb;
		}
	}

	&__cell {
		padding: 13px 10px 12px;
		vertical-align: middle;
		text-align: left;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 1px;
		color: #404040;

		&:last-child {
			font-weight: 600;
		}
	}

	&__head {
		font-weight: 600;
		border-bottom: 3px solid #2b6d9e;
		color: #2b6d9e;
		padding: 14px 10px 11px;
		vertical-align: middle;
		text-align: left;
		font-size: 18px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

.char-block {
	margin-top: 37px;
}

.char-table {
	width: 100%;
	background: #fafafa;
	border-collapse: collapse;

	&__row {

		&:nth-child(odd) {
			background: #ebebeb;
		}

		&--footer,
		&--footer:nth-child(odd) {
			background: #2d6e9f;
		}
	}

	&__cell {
		padding: 11px 15px 14px 15px;
		vertical-align: middle;
		text-align: center;
		font-size: 18px;
		line-height: 1.2;
		letter-spacing: 2px;
		border: 1px solid #dcdcdc;
		color: #404040;

		&--price {
			color: #424242;
			font-weight: 700;
		}

		&--footer {
			color: #fff;

			&:first-child {
				border-right: none;
			}

			&:last-child {
				border-left: none;
			}
		}

		&:first-child {
			text-align: left;
		}
	}

	&__head {
		font-weight: 600;
		border-bottom: 3px solid #2b6d9e;
		color: #2b6d9e;
	}
}

.char-table-sup {
	font-size: 14px;
}

.char-load {
	margin: 0 0 40px;

	&__link {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		font-weight: 600;
		font-family: 'Exo 2', Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #515151;
		text-decoration: underline;
		padding-left: 52px;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-top: 15px;
		margin-right: 60px;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 12px;
			width: 30px;
			height: 30px;
			transform: translate(0, -50%);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: contain;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}

		&--excel {
			&:before {
				background-image: url(../img/load-excel.png);
			}
		}

		&--pdf {
			&:before {
				background-image: url(../img/load-pdf.png);
			}
		}
	}
}

.similar-box {
	margin-bottom: 40px;
	margin-top: 30px;

	&__list {
		list-style: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item {
		width: 24.3%;
		padding: 3px;
		border: 1px solid #cbcbcb;
		background: #fff;
		margin-bottom: 15px;
	}

	&__link {
		display: block;

		&:hover {
			.similar-box__title {
				text-decoration: none;
			}
		}
	}

	&__pic {
		display: block;
		width: 100%;
		height: auto;
	}

	&__title {
		display: block;
		color: #1c6398;
		font-size: 16px;
		line-height: 1.2;
		text-decoration: underline;
		font-family: 'Open Sans', Arial, sans-serif;
		padding-left: 5px;
		padding-right: 5px;
		margin-top: 15px;
	}
}

.similar-box-bottom {
	padding-left: 5px;
	padding-right: 5px;
	display: block;
	margin-bottom: 10px;

	.dimen {
		float: left;
		font-size: 20px;
		color: #414141;
		line-height: 20px;
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
		margin-top: 20px;
	}

	.price {
		float: right;
		line-height: 20px;
		color: #c92649;
		font-family: 'Open Sans', Arial, sans-serif;
		margin-right: 15px;
		margin-top: 20px;
		font-size: 22px;
		font-weight: 700;

		&__from {
			font-size: 18px;
			font-weight: 400;
		}

		&__icon {
			font-size: 14px;
		}
	}
}


@media screen and (max-width: 910px) {
	.slider-order-col {
		float: none;
		width: 100%;
		margin-bottom: 25px;
	}
	.order-col {
		float: none;
		width: 100%;
		padding-left: 0;
	}
}

@media screen and (max-width: 820px) {

	.similar-box {
		&__item {
			width: 48.5%;
		}
	}

	.similar-box-bottom {
		.price {
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 600px) {
	.char-table {
		border: 1px solid #dcdcdc;

		&__row {
			display: block;
			border-bottom: 1px solid #dcdcdc;

			&:last-child {
				border-bottom: none;
			}
		}

		&__cell {
			display: block;
			width: 100%;
			border: none;
			font-size: 16px;
			padding: 0;
			line-height: 27px;
			overflow: hidden;

			&:first-child {
				text-align: center;
			}

			&:before {
				content: attr(data-label);
				float: left;
				width: 68.75%;
				text-align: left;
				border-right: 2px solid #1c6398;
				color: #1c6398;
				font-weight: 600;
				font-size: 18px;
				line-height: 27px;
				padding-left: 8px;
				letter-spacing: 1px;
				background: #ebebeb;
			}

			&:first-child {
				&:before {
					padding-top: 5px;
				}
			}

			&:last-child {
				&:before {
					padding-bottom: 5px;
				}
			}

			&--footer {
				line-height: 42px;

				&:before {
					color: #fff;
					line-height: 42px;
					border-right: none;
					background: #2d6e9f;
				}

				&:last-child {
					&:before {
						padding-bottom: 0;
					}
				}
			}

			&--footer-collapce {
				display: none;
			}
		}

		&__head {
			display: none;
		}
	}

	.char-table-hide {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.order-form__price {
		margin-bottom: 10px;
	}

	.similar-box {

		&__title {
			font-size: 14px;
		}
	}

	.order-form__btn {
		margin-bottom: 22px;
	}

	.to-order-block {
		margin-bottom: 25px;
	}

	.similar-box-bottom {

		.dimen {
			float: none;
			display: block;
			margin-top: 6px;
		}

		.price {
			float: none;
			display: block;
			margin-top: 6px;
			font-size: 22px;

			&__from {
				display: none;
			}
		}
	}

	.char-table-short {

		&__head {
			padding-left: 10px;
			padding-right: 10px;
		}

		&__cell {
			font-size: 16px;
			padding-left: 10px;
			padding-right: 10px;
			letter-spacing: 0;

			&:last-child {
				padding-left: 0;
				padding-right: 5px;
			}
		}
	}
}