/**
 *		Catalog
 */

 .catalog {
 	background-image: url('../img/catalog-bg.jpg');

 	&__list {
 		padding: 0;
 		margin: 0 -5px;
 		list-style-type: none;
 	}

 	&__item {
 		width: 33.333%;
 		margin-top: 40px;
 		padding: 0 5px;
 		text-align: center;

 		&:nth-child(1),
 		&:nth-child(2),
 		&:nth-child(3) {
 			margin-top: 0;
 		}
 	}

 	&__photo {
 		position: relative;
 		margin-bottom: 3px;

 		img {
 			z-index: 1;
 			position: relative;
 			max-width: 100%;
 			padding: 52px 46px;
 		}

 		&:before {
 			content: '';
 			z-index: 0;
 			position: absolute;
 			top: 50%;
 			left: 50%;
 			display: block;
 			width: 299px;
 			height: 299px;
 			max-width: 100%;
 			max-height: 100%;
 			background-image: url('../img/catalog-list-bg.png');
 			background-repeat: no-repeat;
 			background-position: center;
 			background-size: 100%;
 			transform: translate(-50%, -50%);
 		}
 	}

 	a {
 		display: inline-block;
 		font-size: 22px;
 		color: #277bc0;
 		border-bottom: 1px solid #277bc0;

 		&:hover {
 			border-bottom: 0;
 		}
 	}
 }





// CATALOG_PAGE
.content {
	float: left;
	width: 100%;
}
.inner-content {
	margin: 0 0 30px 235px;
	padding: 0 0 0 15px;
}
.sidebar {
	position: relative;
	float: left;
	width: 235px;
	margin-left: -100%;
}
.bread-crambs{
	padding: 0;
	margin: 0;
	margin-bottom: 33px;
	margin-top: 16px;

	&__item{
		list-style-type: none;
		display: inline-block;
		font-size: 14px;
		line-height: 16px;
		color: #949494;
	}
	&__link{
		font-size: 14px;
		line-height: 16px;
		color: #2e57a0;
		font-family: 'Exo2', Arial, sans-serif;
		font-weight: 400;
		&:after{
			content: '';
			width: 10px;
			height: 10px;
			margin: 0 10px;
			display: inline-block;
			background-image: url('../img/crambs-icon.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
}
.ruble{
	font-family: 'Ruble';
	font-weight: 400;
	color: inherit;
	font-size: 1.1em;
}
.catalog-descript{
	font-family: 'Exo2', Arial, sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #4e4d4e;
	letter-spacing: 1px;
}

.catalog-box{
	&__list{
		overflow: hidden;
	}
	&__item{
		display: inline-block;
		margin: 0 3px 22px 0;
		padding: 3px;
		border: 1px solid #c8c8c8;
		list-style-type: none;
		width: 32.5%;
		background-color: #fff;

		img{
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
	}
	&__link{
		padding: 15px 5px 0px;
		display: block;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		line-height: 20px;
		color: #1c6398;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
	.bottom-box{
		padding: 14px 16px 9px 9px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		.dimen{
			font-size: 20px;
			line-height: 23px;
			color: #414141;
			font-weight: 600;
		}
		.price{
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			font-size: 22px;
			line-height: 25px;
			color: #c92649;

			i{
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
.catalog-filter{

	&__box {
		&--last {
			.catalog-filter__list {
				padding-bottom: 0;
			}
		}
	}

	&__list{
		padding: 9px 0;
	}

	&__tittle{
		cursor: pointer;
		padding: 14px 9px;
		background-color: #1c6398;
		color: #fff;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-tap-highlight-color: transparent;
		span{
			font-family: 'Exo2', Arial, sans-serif;
			font-size: 16px;
			line-height: 20px;
		}
		&.open{
			border-bottom: 2px solid #fff;
			img{
				-webkit-transform: rotate(-93deg);
				-moz-transform: rotate(-93deg);
				-ms-transform: rotate(-93deg);
				-o-transform: rotate(-93deg);
				transform: rotate(-93deg);
			}
		}
		sup {
			left: -3px;
		}
	}
	&__item{
		padding: 5px 0;
		list-style-type: none;

		&:last-child{
			margin-bottom: 2px;
		}
		label{
			font-family: 'Exo2', Arial, sans-serif;
			font-size: 14px;
			line-height: 20px;
			color: #000;
			-webkit-tap-highlight-color: transparent;
			span.circle{
				width: 20px;
				height: 20px;
				margin-right: 16px;
				display: inline-block;
				border-radius: 100%;
				vertical-align: bottom;
				border: 1px solid #c3c3c3;
			}
			.gray{
				background-color: #c7c7c7;
			}
			.green{
				background-color: #19b40d;
			}
			.yellow{
				background-color: #f6e80d;
			}
			.red{
				background-color: #f33e3e;
			}
			.black{
				background-color: #000000;
			}
			.blue{
				background-color: #097ebb;
			}
			.brown{
				background-color: #86501b;
			}
			.beige{
				background-color: #f5e3b2;
			}
			.white{
				background-color: #ffffff;
			}

		}
		.checkbox-custom {
			opacity: 0;
			position: absolute;   
		}

		.checkbox-custom-label{
			position: relative;
			cursor: pointer;
		}

		.checkbox-custom + .checkbox-custom-label:before{
			content: '';
			background: #fff;
			border: 1px solid #ddd;
			display: inline-block;
			vertical-align: sub;
			width: 16px;
			height: 16px;
			padding: 2px;
			margin-right: 16px;
			text-align: center;
		}

		.checkbox-custom:checked + .checkbox-custom-label:before {
			content: "";
			width: 16px;
			height: 16px;
			background-image: url('../img/checked-icon.png');
			background-size: 11px;
			background-color: #fff;
			background-repeat: no-repeat;
			padding: 1px 2px 2px;
			background-position: center 49%;
		}
	}
}
.formCost {
	margin-bottom: 25px;
	margin-top: 17px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	.formCost-box{
		font-size: 13px;
		line-height: 16px;
		color: #757575;
		font-weight: 300;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: baseline;
		-webkit-align-items: baseline;
		-moz-box-align: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
}
.formCost label {
	float: left;
	font-size: 13px;
	line-height: 16px;
	color: #757575;
	font-weight: 300;
	margin-right: 5px;

}
.formCost input {
	float: left;
	text-align: right;
	font-size: 13px;
	line-height: 16px;
	color: #757575;
	font-weight: 300;
	width: 63px;
	height: 25px;
	background: #fff;
	border: 1px solid #d8d8d8;
	margin-right: 10px;
	padding: 5px;

	&#minCost{
		margin-left: 11px;
	}
	&#maxCost{

	}
}	

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 21px;
	height: 21px;
	background-image: url('../img/price-slide-icon.png');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	height: 6px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top: -8px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-handle:nth-child(1){
	margin-left: -17px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;

}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content { 
	border: 1px solid #dadada;
	background: #e7e7e7;
	width: 217px;
	margin-left: 4px;
}
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #c22546;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.custom-background{
	overflow: hidden;
	background-color: #f2f2f2;

	.container{
		&:after{
			display: table;
			content: " ";
			clear: both;
		}
		&:before{
			display: table;
			content: " ";
		}
	}
}

.price-count{
	font-size: 13px;
	line-height: 16px;
	color: #757575;
	font-weight: 300;
	padding: 21px 5px 17px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.button-filter{
	width: 100%;
	margin-top: 15px;
}

.catalog-tittle{
	margin: -11px 0 21px;
	padding-bottom: 16px;
}

.paggination-box{
	margin-top: 16px;
	.paggination-list{
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		-moz-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		&__item{
			list-style-type: none;

			&.active{
				a{
					background-color: #3562b6;
					color: #fff;
				}
			}
		}

		&__link{
			width: 33px;
			height: 33px;
			margin-left: 7px;
			margin-right: 3px;
			display: block;
			padding: 0px;
			font-size: 18px;
			line-height: 33px;
			color: #686868;
			background-color: #eaeaea;
			text-align: center;
			&:hover{
				background-color: #3562b6;
				color: #fff;
			}
		}
	}
}

.catalog-informs{
	margin: 73px 0 0;
	&__item{
		list-style-type: none;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;

		&:last-child{
			img{
				margin-left: -2px;
				height: 167px;
			}
		}
	}

	&__text{
		padding-right: 6px;
		margin-left: 12px;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		p{
			font-size: 16px;
			line-height: 19px;
			color: #4e4d4e;
			letter-spacing: 0.8px;
			margin-bottom: 24px;
			margin-top: -4px;
		}
	}
	.decor-text-informs{
		margin-top: -5px;
	}
	img{
		margin-bottom: 2px;
		display: block;
		width: 100%;
		max-width: 249px;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-moz-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
}
.decor-text-informs{
	p{
		margin-top: -5px;
	}
}
.question-form{
	h2:before{
		background-color: #515558;
	}
}
.catalog-work{
	max-width: 994px;
	margin: 26px auto 25px;
	margin-left: 23%;
	.form-box{
		padding: 25px 2px 50px!important;
		h2 {
			padding-top: 0;
			margin-left: 20px!important;
		}
		h2:before{
			background-color: #515558;
		}
		p {
			padding: 0 50px;
			margin-bottom: 38px;
			font-size: 24px;
			font-weight: 300;
			color: #525252;
			letter-spacing: 1px;
			line-height: 29px;
		}
	}
}

.stages-work.catalog-work {
	padding-top: 0;
}


/**
 *		Media	
 */
 @media screen and (max-width: 1514px) {
 	.catalog-work{
 		margin-left: auto;
 	}
 }
 @media screen and (max-width: 909px) {
 	.catalog-box__item{
 		width: 32%;
 	}
 	.catalog-informs{
 		display: none;
 	}
 	.catalog-box .bottom-box{
 		padding: 14px 5px 9px 5px;
 	}
 	.catalog-box__item img{
 		width: 100%;
 	}
 }
 @media screen and (max-width: 940px) {
 	.custom-background .container {
 		padding: 0 11px;
 	}
 	main .container {
 		padding: 4px 11px;
 	}
 	.catalog {

 		&__item {
 			width: 50%;
 			padding: 0 25px;
 			margin-top: 40px;

 			&:nth-child(3) {
 				margin-top: 40px;
 			}
 		}
 	}

 }
 @media screen and (max-width: 780px) {
 	.catalog-filter__tittle.open{
 		border-bottom: none;
 	}
 	.catalog-box .bottom-box{
 		display: block;

 		.dimen{
 			width: 100%;
 			display: block;
 		}
 		.price{
 			width: 100%;
 		}
 	}
 	.mobile-hidden{
 		display: none;
 	}
 	.inner-content{
 		margin: 0;
 		padding: 0 2px;
 	}
 	.sidebar{
 		width: 100%;
 		float: none;
 		margin-left: 0;
 	}
 	.content{
 		margin-top: 42px;
 		float: none;
 	}
 	.mobile-revers{
 		display: -webkit-box;
 		display: -webkit-flex;
 		display: -moz-box;
 		display: -ms-flexbox;
 		display: flex;
 		-webkit-box-orient: vertical;
 		-webkit-box-direction: reverse;
 		-webkit-flex-direction: column-reverse;
 		-moz-box-orient: vertical;
 		-moz-box-direction: reverse;
 		-ms-flex-direction: column-reverse;
 		flex-direction: column-reverse;
 	}
 	.catalog-filter__box{
 		margin-top: 2px
 	} 
 	.button-filter{
 		margin-top: 13px;
 		width: 245px;
 		margin: 14px auto 0;
 		display: block!important;
 	}
 	.catalog-tittle {
 		margin: -14px 0 15px;
 		padding-bottom: 17px;
 		line-height: 35px;
 		font-size: 30px;
 		letter-spacing: 1.5px;
 	}
 	.catalog-descript{
 		letter-spacing: .8px;
 	}
 	.ui-widget-content{
 		width: 97.6%;
 	}
 	.catalog-box__item {
 		width: 32.5%;
 		margin: 0 4px 22px 0;

 		&:nth-child(3n){
 			margin: 0 0 22px 0;
 		}
 	}
 	.top-panel__wrapper .top-panel {
 		padding: 18px 0 19px;
 	}

 	.top-panel__wrapper .top-panel__text-logo p {
 		margin: 0;
 		font-size: 15px;
 		line-height: 17px;
 		letter-spacing: .2px;
 		margin-left: -7px;
 		margin-top: -1px;
 	}
 	.top-panel__wrapper .top-panel__button .button{
 		padding: 13px 16px 11px;
 		margin-top: -5px;
 		margin-left: -5px;
 		font-size: 13px;
 	}
 	.top-panel__wrapper .top-panel__button{
 		margin-bottom: 5px;
 	}
 	.bread-crambs{
 		margin-bottom: 12px;
 		margin-top: 30px;
 	}
 	.top-panel__social .social-item--ph a{
 		margin-top: 0px;
 		margin-right: -2px;
 	}
 	.catalog-filter__tittle{
 		padding: 14px 16px 14px 9px;
 	}
 	.catalog-filter__tittle.open img {
 		-webkit-transform: rotate(-93deg);
 		-moz-transform: rotate(-93deg);
 		-ms-transform: rotate(-93deg);
 		-o-transform: rotate(-93deg);
 		transform: rotate(-93deg);
 	}
 	.catalog-box__list{
 		margin-top: 27px;
 	}
 	.top-panel__logo .top-panel__text-logo{
 		padding-left: 16px;
 	}
 }
 @media screen and (max-width: 640px) {

 	.catalog {

 		&__item {
 			width: 100%;

 			&:nth-child(2) {
 				margin-top: 40px;
 			}
 		}
 	}

 }
 @media screen and (max-width: 624px) {
 	.catalog-box__item{
 		width: 49%;
 		margin: 0 0 22px 0;

 		&:nth-child(2n){
 			margin-left: 7px;
 		}
 	}





 	.catalog-box__link{
 		padding: 10px 4px 0px;
 		font-size: 13px;
 		letter-spacing: 0.5px;
 		line-height: 18px;
 	}
 	.catalog-box .bottom-box {
 		padding: 8px 5px 9px 5px;
 	}
 	.catalog-box .bottom-box .price {
 		width: 100%;
 		margin-top: 4px;
 		display: block;
 	}
 	.paggination-box{
 		display: none;
 	}
 	.catalog-work{
 		margin: 11px auto 0;
 	}
 	.catalog-work .form-box {
 		padding: 12px 2px 69px !important;
 	}
 	.catalog-work .form__group--button{
 		margin-top: 9px;
 	}
 	.catalog-work .form__group--button .button {
 		padding: 12px 5px;
 	}
 	.catalog-work .form__group--input{
 		max-width: 330px;
 	}
 	.catalog-work .form-box p{
 		margin-bottom: 18px!important;
 	}
 	.catalog-work .form__group--button {
 		margin-top: 13px;
 	}
 	.catalog-work .form-box {
 		margin: 0 -5px -49px;
 	}
 	.catalog-work .form-box h2{
 		padding: 0 40px 26px!important;
 	}
 }
 @media screen and (max-width: 549px){
 	.catalog-box__item:nth-child(2n) {
 		margin-left: 3%;
 	}
 	.catalog-box__item {
 		width: 48%;
 	}
 	.ui-widget-content {
 		width: 96%;
 	}
 }
 @media screen and (max-width: 400px) {
 	.bread-crambs {
 		margin-top: 18px;
 		margin-bottom: 24px;
 	}
 	.top-panel__wrapper .top-panel__logo img{
 		margin-right: 95px;
 		margin-top: 0px;
 	}
 	.top-panel__wrapper .top-panel__button .button {
 		padding: 9px 8px 9px;
 		font-size: 11px;
 	}
 	.top-panel__text-logo{
 		margin: 3px 0 11px;
 	}
 	main {
 		padding-top: 123px;
 	}
 	.top-panel__wrapper .top-panel__text-logo p{
 		font-size: 14px;
 	}
 	.top-panel__social .social-item--ph a{
 		margin-top: 3px;
 	}
 }
 @media screen and (max-width: 376px) {
 	.catalog-box__item:nth-child(2n) {
 		margin-left: 2.3%;
 	}
 	.catalog-work .form-box p{
 		margin-bottom: 18px!important;
 	}
 	.catalog-work .form__group--button {
 		margin-top: 13px;
 	}
 	.catalog-work .form-box {
 		margin: 0 -5px -49px;
 	}
 	.catalog-work .form-box h2{
 		padding: 0 40px 26px!important;
 	}
 	.ui-widget-content {
 		width: 95%;
 	}
 }
 @media screen and (max-width: 375px) {
 	.ui-widget-content {
 		width: 95.5%;
 	}
 }