/**
*		Contacts
*/

.contacts-block {
	margin: 45px 0 50px;
}

.contacts-list {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.contact-descr {
	position: relative;
	padding-left: 35px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		background-repeat: no-repeat;
		background-position: center center;
	}

	&--address {

		&:before {
			width: 24px;
			height: 33px;
			top: -2px;
			left: 0;
			background-image: url(../img/icon-loc.png);
		}
	}

	&--phone {

		&:before {
			width: 25px;
			height: 25px;
			top: 0;
			left: 0;
			background-image: url(../img/icon-phone.png);
		}
	}

	&--mail {
		padding-right: 13px;

		&:before {
			width: 27px;
			height: 19px;
			top: 2px;
			left: -4px;
			background-image: url(../img/icon-mail.png);
		}
	}

	&__text {
		color: #6a6a6a;
		font-size: 16px;
		line-height: 1.2;
		display: block;
		font-family: 'HelveticaNeueCyr-Medium', Arial, sans-serif;

		&--title {
			font-size: 18px;
			font-weight: 500;
		}
	}
}

.map {
	display: block;
	height: 355px;
	margin-bottom: 80px;
}

#map {
	width: 100%;
	height: 100%;
}


@media screen and (max-width: 680px) {
	.contacts-list {
		flex-direction: column;

		&__item {
			margin-bottom: 18px;
		}
	}

	.contacts-block {
		margin-bottom: 25px;
	}
}