/**
 *		Advantages
 */

.footer {
	z-index: 1;
	position: relative;
	background-color: #616161;
	
	&__logo {
		display: inline-block;
		padding: 0 8px 0 5px;
		vertical-align: middle;
	
		a {
			display: inline-block;
		}
		
		img {
			width: 100%;
		}
	}
	
	&-menu {
		display: inline-block;
		vertical-align: middle;
		
		&__list {
			padding: 13px 0 17px;
			margin: 0;
		}
		
		&__item {
			position: relative;
			display: inline-block;
			padding: 0 23px;
			vertical-align: middle;
			
			a {
				font-size: 14px;
				font-weight: 500;
				text-decoration: underline;
				color: #fff;
				
				&:hover {
					text-decoration: none;
				}
			}
			
			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				display: block;
				width: 1px;
				height: 13px;
				background-color: rgba(255,255,255,.2);
			}
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
	
	&-info {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: 23px 0 16px;
		
		&__logo {
			display: inline-block;
			width: 31%;
			vertical-align: middle;
			
			img {
				display: inline-block;
				max-width: 120px;
				margin-right: 7px;
				vertical-align: middle;
			}
		}
		
		&__text-logo {
			display: inline-block;
			max-width: 130px;
			padding-left: 8px;
			margin-top: -7px;
			border-left: 1px solid #8a8a8a;
			vertical-align: middle;
			
			p {
				margin: 0;
				font-size: 14px;
				color: #fff;
				line-height: 17px;
			}
		}
		
		&__info {
			display: inline-block;
			width: 59%;
			text-align: center;
			vertical-align: middle;
			
			a {
				position: relative;
				display: inline-block;
				padding-left: 28px;
				margin: 0 30px 9px;
				font-size: 18px;
				color: #fff;
				letter-spacing: .7px;
				
				&:before {
					content: '';
					position: absolute;
					top: 2px;
					left: 0;
					display: inline-block;
				}
				
				&.phone {
					font-family: 'Exo2SemiBold', Times New Roman, serif;
					
					&:before {
						width: 16px;
						height: 15px;
						background-image: url('../img/footer-phone.png');
					}
				}
				
				&.mail {
					
					&:before {
						width: 23px;
						height: 16px;
						background-image: url('../img/footer-mail.png');
					}
				}
			}
		}
		
		&__social {
			display: inline-block;
			width: 10%;
			text-align: right;
			vertical-align: middle;
			
			.social-list {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
			
			.social-item {
				display: inline-block;
				margin: 0 3px;

				a {
					display: block;
					width: 33px;
					height: 33px;
				}
				
				&--vk {
					background-image: url('../img/footer-social-2.png');
					background-repeat: no-repeat;
					background-position: center;
				}
				
				&--in {
					background-image: url('../img/footer-social-1.png');
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
	}
	
	&__panel {
		background-color: #454545;
		text-align: center;
		
		p {
			padding: 14px 10px 16px;
			margin: 0;
			font-size: 12px;
			color: #fff;
		}
	}
}

.footer-wrapper {
	
	&--mob {
		display: none;
	}
}

/**
 *		Media	
 */

@media screen and (max-width: 1100px) {

	.footer {
		
		&__menu-wrapper {
			text-align: center;
		}
	}
	
	.footer-menu {
		
		&__item {
			padding: 0 15px;
		}
	}
	
}
 
@media screen and (max-width: 940px) {
	
	.footer {
		position: relative;
	}
	
	.footer-wrapper {
		
		&--desc {
			display: none;
		}
		
		&--mob {
			display: block;
			
			.footer-info {
				align-items: flex-start;
				
				&__logo {
					width: 45%;
				}
				
				&__info {
					width: 30%;
					text-align: right;
					
					a {
						width: 200px;
						padding-left: 35px;
						margin: 0 0 9px;
						text-align: left;
					}
				}
				
				&__text-logo {
					margin-top: 0;
				}
				
				&__social {
					width: 100%;
					text-align: right;
					
					.social-item {
						
						a {
							width: 33px;
							padding: 0;
							margin: 0;
						}
					}
					
					.social-list {
						display: inline-block;
						width: 207px;
						text-align: left;
					}
				}
			}
			
			.footer-menu {
				width: 25%;
				
				&__item {
					width: 100%;
					padding: 0;
					
					&:before {
						display: none;
					}
				}
				
				&__list {
					padding: 0;
				}
			}
		}
	}
	
}

@media screen and (max-width: 640px) {
	
	.footer-wrapper--mob {
		
		.footer-info {
			flex-wrap: wrap;
			
			&__logo,
			&__info {
				width: 100%;
			}
			
			&__logo {
				margin-bottom: 25px;		
			}
			
			&__info {
				position: relative;
				
				a {
					display: block;
					width: 100%;
					padding-left: 30px;
					margin: 0 0 14px;
				}
			}
			
			&__social {
				position: absolute;
				top: -7px;
				right: 0;
				
				.social-list {
					width: auto;
				}
			}
		}
		
		.footer-menu {
			
			&__list {
				display: none;
			}
		}
	}
}