/**
 *		Header
 */

.header {
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #1c6398;
	text-align: center;
	
	&__logo {
		display: inline-block;
		padding: 0 8px 0 5px;
		vertical-align: middle;
	
		a {
			display: inline-block;
		}
		
		img {
			width: 100%;
		}
	}
	
	&-menu {
		display: inline-block;
		vertical-align: middle;
		
		&__list {
			padding: 13px 0 17px;
			margin: 0;
		}
		
		&__item {
			position: relative;
			display: inline-block;
			padding: 0 23px;
			vertical-align: middle;
			
			a {
				font-size: 14px;
				font-weight: 500;
				text-decoration: underline;
				color: #fff;
				
				&:hover {
					text-decoration: none;
				}
			}
			
			&:before {
				content: '';
				position: absolute;
				top: 3px;
				left: 0;
				display: block;
				width: 1px;
				height: 13px;
				background-color: rgba(255,255,255,.2);
			}
			
			&:last-child {
				padding-right: 0;
			}
		}
	}
	
	&.fixed {
		box-shadow: 0 0 4px 2px rgba(0,0,0,.25);
	}
}


/**
 *		Media	
 */

@media screen and (max-width: 1100px) {

	.header-menu {
		
		&__item {
			padding: 0 15px;
		}
	}
	
}
 
@media screen and (max-width: 940px) {
	
	.header {
		display: none;
	}
	
}