/**
*		Partners
*/

@import 'mixins/placeholder';

.form-partners-block {
	background: #b6d9f2;
	position: relative;
	margin: 56px 0 120px;

	&:before,
	&:after {
		content: '';
		display: block;
		background-size: 14px 8px;
		height: 8px;
		position: absolute;
		left: 0;
		width: 100%;
	}

	&:before {
		top: -8px;
		background-image: linear-gradient(45deg, #b6d9f2 5px, transparent 5px), linear-gradient(315deg, #b6d9f2 5px, transparent 5px);
	}

	&:after {
		bottom: -8px;
		background-image: linear-gradient(135deg, #b6d9f2 5px, transparent 5px), linear-gradient(225deg, #b6d9f2 5px, transparent 5px);
	}
}

.box-form {
	padding: 21px 0 25px;

	h2 {
		color: #404040;
		margin-bottom: 40px;

		&:before {
			background-color: #424e57;
		}
	}

	&__col {
		padding: 0 18px;
		float: left;

		&--half {
			width: 50%;
		}

		&--full {
			width: 100%;
		}
	}
}

input[required]:invalid + span {
	display: inline-block;
}

input[required]:valid + span{
	display: none;
}

.box-field {
	position: relative;
	margin-bottom: 18px;

	&__input {
		
	}

	&__placeholder {
		font-family: 'Exo2', Arial, sans-serif;
		font-size: 16px;
		line-height: 1.32;
		position: absolute;
		top: 15px;

		&:after {
			content: '*';
			color: #ca405f;
		}

		&--user {
			left: 136px;
		}

		&--phone {
			left: 205px;
		}
	}

	&__label {
		width: 42px;
		height: 30px;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		border-right: 1px solid #d1d1d1;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-repeat: no-repeat;
			background-position: center center;
		}

		&--user {
			&:before {
				width: 18px;
				height: 18px;
				background-image: url(../img/input-icon-1.png);
			}
		}

		&--phone {
			&:before {
				width: 16px;
				height: 18px;
				background-image: url(../img/input-icon-2.png);
			}
		}

		&--site {
			&:before {
				width: 24px;
				height: 24px;
				background-image: url(../img/input-icon-3.png);
			}
		}

		&--mail {
			&:before {
				width: 22px;
				height: 16px;
				background-image: url(../img/input-icon-4.png);
			}
		}
	}
}

.form-control {
	background: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	display: block;
	width: 100%;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.32;
	font-family: 'Exo2', Arial, sans-serif;

	@include placeholder {
		color: #000;
		opacity: .5;
	}

	&--input {
		height: 50px;
		padding: 0 10px 0 58px;
	}

	&--textarea {
		min-height: 126px;
		padding: 10px 11px;
		resize: none;
		letter-spacing: 1px;
	}
}

.box__btn {
	text-align: center;
	padding: 0 18px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	border-width: 1px;
	border-style: solid;
	text-transform: uppercase;
	cursor: pointer;

	&--submit {
		border-color: #b23853;
		color: #fff;
		background: #ca405f;
		font-family: 'Exo2', Arial, sans-serif;
		font-size: 16px;
		line-height: 1.32;
		font-weight: 500;
		letter-spacing: 1px;
		max-width: 300px;
		width: 100%;
		height: 50px;
		border-radius: 50px;
	}
}

@media screen and (max-width: 540px) {
	.form-partners-block {
		margin-left: -10px;
		margin-right: -10px;
		background: url(../img/_form-box-bg.png) no-repeat center center;
		background-size: cover;
		margin-bottom: 0;

		&:before,
		&:after {
			display: none;
		}
	}

	.box-form__col--half {
		width: 100%;
	}
}