/**
*		Portfolio
*/

.portfolio-box {
	margin-top: 22px;

	&--portfolio {
		margin-bottom: 198px;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
	}

	&__item {
		padding: 0 10px;
		margin-bottom: 22px;
		width: 33.28%;
	}

	&__inner {
		height: 100%;
		border: 1px solid #c6c6c6;
		background: #fff;
	}

	&__link {
		display: block;
	}

	&__text {
		text-align: center;
		display: block;
		color: #1c6398;
		text-decoration: underline;
		font-size: 18px;
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
		padding: 15px 5px 15px;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}

	&__pic {
		display: block;
		width: 100%;
		height: auto;
	}
}

.bottom-card-line {
	padding: 16px 15px 6px 6px;
}

.bottom-card-line-params {
	float: left;

	&__price {
		font-size: 22px;
		color: #c92649;
		font-weight: 700;
		font-family: 'Open Sans', Arial, sans-serif;
		line-height: 20px;
		display: block;
		margin: 5px 0;
	}

	&__icon {
		font-size: 14px;
	}

	&__area {
		display: block;
		font-size: 20px;
		color: #414141;
		margin: 13px 0 10px;
	}

	&__index {
		font-family: 'Open Sans', Arial, sans-serif;
		font-weight: 600;
	}
}

.bottom-card-line-list {
	float: right;

	&__link {
		display: block;
		color: #4d4d4d;
		font-size: 14px;
		line-height: 24px;
		font-family: 'Open Sans', Arial, sans-serif;
	}

	&__icon {
		color: #206ba5;
		font-size: 16px;
		padding-right: 8px;
	}
}

@media screen and (max-width: 890px) {
	.portfolio-box {

		&__item {
			width: 49.9%;
		}
	}
}

@media screen and (max-width: 600px) {
	.portfolio-box {

		&__list {
			display: block;
		}

		&__item {
			width: 100%;
			display: block;
			margin-bottom: 10px;
		}

		&--portfolio {
			margin-bottom: 40px;
		}
	}
}