.question-title{
    margin-left: -3px;
    margin-top: -3px;
    font-size: 30px;
    letter-spacing: 1.8px;
}
.question-list{
	margin-top: 40px;
	&__item{
		margin-bottom: 50px;
    	position: relative;
    	padding: 30px 36px 30px 87px;
    	list-style-type: none;
    	border: 4px solid #2474b4;
	}
	&__title{
    	font-size: 24px;
    	line-height: 28px;
    	color: #c92649;
    	font-weight: 500;
    	letter-spacing: 1.1px;
    	margin: 0 0 26px;
	}
	&__text{
    	font-size: 16px;
    	line-height: 20px;
    	color: #4f4f4f;
    	font-weight: 500;
    	margin: 0;
    	letter-spacing: 0.7px;
	}
	&__number{
		font-family: 'HelveticaNeueCyr-Medium', Arial, sans-serif;
		width: 61px;
		height: 61px;
		border-radius: 50%;
		border: 3px solid #c92649;
		position: absolute;
		left: 12px;
    	top: -31px;
		background-color: #fff;
    	display: -webkit-box;
    	display: -webkit-flex;
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: flex;
    	-webkit-box-align: center;
    	-webkit-align-items: center;
    	   -moz-box-align: center;
    	    -ms-flex-align: center;
    	        align-items: center;
    	-webkit-box-pack: center;
    	-webkit-justify-content: center;
    	   -moz-box-pack: center;
    	    -ms-flex-pack: center;
    	        justify-content: center;
	
		span{
			font-size: 30px;
			line-height: 33px;
			color: #1e67a0;
		}

		&:before{
			content: '';
			position: absolute;
			top: 58px;
    		left: 28px;
			width: 3px;
			height: 17px;
			background-color: #c92649;

		}
		&:after{
			content: '';
			position: absolute;
			top: 73px;
    		right: -11px;
			width: 38px;
			height: 3px;
			background-color: #c92649;
		}
	}
}
// .form-partners-block input:required{
// 	    background: #fff url('../img/red_asterisk.png') no-repeat 98% center;
// }
.question-form{
	 margin: 50px 0 64px!important;
}

@media screen and (max-width: 500px){
	.question-list__number:before,
	.question-list__number:after{
		display: none;
	}
	.question-list__item{
		padding: 36px 10px 14px 19px;
		margin-bottom: 40px;
	}
	.top-panel__wrapper .top-panel__button .button{
		padding: 13px 8px 11px;
	}
	.top-panel {
		padding: 12px 0!important;
	}
	.question-title{
		font-size: 23px;
	}
	.question-list {
    	margin-top: 47px;
	}
	.question-form{
		margin: 38px 0 10px!important;

		.box-form {
    		padding: 18px 0;

    		h2{
    			margin-bottom: 21px;
    		}
		}
		.box-field{
			margin-bottom: 10px;
		}
		.form-control--textarea {
    		min-height: 146px;
		}
		.btn--submit{
			margin-top: 8px;
		}
	}
	.question-list__number{
		left: 16px;
	}
}