/**
 *		Reviews
 */

.reviews {
	
	h2 {
		margin-bottom: 50px;
	}
	
	&__wrapper {
		padding: 0 52px;
	}
	
	&__filter-list,
	&__slider-list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	&__filter-list {
		margin-bottom: 90px;
		text-align: center;
	}
	
	&__filter-item {
		display: inline-block;
		margin: 0 10px;
		
		.button {
			padding: 10px 30px 14px;
			background-color: transparent;
			font-size: 16px;
			font-weight: 500;
			color: #8f8f8f;
			border: 2px solid #8f8f8f;
			box-shadow: none;
			text-transform: none;
			
			&:hover {
				background-color: transparent;
				color: #8f8f8f;
				border-color: #ca405f;
			}
		}
		
		&.is-active {
			
			.button {
				background-color: #ca405f;
				color: #fff;
				border: 2px solid #ca405f;
			}
		}
	}
	
	&__slider-list {
		
		.slick-track,
		.slick-list {
			height: 285px;
		}
		
		.arrow {
			z-index: 5;
			display: block;
			position: absolute;
			top: 50%;
			width: 55px;
			height: 55px;
			background-color: transparent;
			border: 0;
			opacity: 0.8;
			-webkit-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			transform: translate(0,-50%);
			cursor: pointer;
			
			&:hover {
				opacity: 1;
			}
				
			span {
				position: absolute;
				top: 50%;
				display: block;
				width: 21px;
				height: 36px;
				background-image: url('../img/arow-big-red.png');
				background-repeat: no-repeat;
				-webkit-transform: translate(0,-50%);
				-ms-transform: translate(0,-50%);
				transform: translate(0,-50%);
			}
			
			&.slick-disabled {
				opacity: 1 !important;
				
				span {
					background-image: url('../img/arow-big-gray.png');
				}
			}
			
			&__next {
				right: -50px;
			}
			
			&__prev {
				left: -75px;
			}
		}
	}
	
	&__slider-item {
		margin: 0 20px;
		
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		
		a {
			display: inline-block;
			vertical-align: middle;
		}
		
		img {
			display: block;
		}
	}
}


/**
 *		Media	
 */

@media screen and (max-width: 1100px) {

	.reviews {
		
		&__wrapper {
			padding: 0 40px;
		}
		
		&__slider-list .arrow__prev {
			left: -50px;
		}
		
		&__filter-item {
			margin: 0 5px;
			    
			.button {
				padding: 10px 20px 14px;
			}
		}
	}
	
}
 
@media screen and (max-width: 940px) {
	
	.reviews {
		
		&__wrapper {
			padding: 0 30px;
		}
		
		&__filter-list {
			margin: 0 -30px 35px;
		}
		
		&__slider-list {
			
			.arrow__next {
				right: -40px;
			}
			
			.arrow__prev {
				left: -40px;
			}
			
			.slick-track,
			.slick-list {
				height: 223px;
			}
		}
		
		&__slider-item {
			margin: 0 5px;
			
			a {
				height: 100%;
			}
			
			img {
				height: 100%;
			}
		}
		
		&__filter-item {
			margin: 0 0 10px;
		}
	}
	
}

@media screen and (max-width: 680px) {
	
	.reviews {
		
		&__filter-item {
			display: block;
			text-align: center;
			
			a {
				min-width: 240px;
			}
		}
		
		&__slider-list .slick-track, 
		&__slider-list .slick-list {
			height: auto;
		}
		
		&__slider-item {
			text-align: center;
			
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}	
		
}