/**
 *		Catalog
 */

.stages-work {
	padding-top: 47px;
	background-image: url('../img/stages-work-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;

	h2 {
		margin-bottom: 44px;
	}
	
	&__list {
		display: inline-block;
		padding: 0;
		margin: 0 0 45px 120px;
		text-align: left;
		list-style-type: none;
	}
	
	&__item {
		position: relative;
		margin-bottom: 33px;
		
		&:last-child {
			margin-bottom: 0;
			
			.stages-work__photo:before {
				display: none;
			}
		}
	}
	
	&__photo {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		
		&:before {
			content: '';
			position: absolute;
			bottom: 15px;
			left: 50%;
			display: inline-block;
			width: 29px;
			height: 54px;
			background-image: url('../img/stage-arrow.png');
			-webkit-transform: translate(-50%, 100%);
			-ms-transform: translate(-50%, 100%);
			transform: translate(-50%, 100%);
		}
		
		img {
			z-index: 1;
			position: relative;
			display: inline-block;
		}
	}
	
	&__text {
		position: relative;
		display: inline-block;
		max-width: 370px;
		padding-left: 73px;
		vertical-align: middle;
		
		.number {
			position: absolute;
			top: -14px;
			left: 20px;
			display: inline-block;
			font-size: 36px;
			font-weight: 300;
			color: #d0d0d0;
		}
		
		p {
			margin: 0;
			font-size: 18px;
			color: #626262;
		}
	}
	
	&__group {
		position: absolute;
		top: 17px;
		left: -22px;
		display: inline-block;
		width: 200px;
		height: 162px;
		background-image: url('../img/stage-day-arrow.png');
		background-repeat: no-repeat;
		background-position: center right;
		-webkit-transform: translate(-100%,0);
		-ms-transform: translate(-100%,0);
		transform: translate(-100%,0);
		
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
		
		span {
			display: inline-block;
			padding-bottom: 8px;
			font-size: 36px;
			font-weight: 300;
			letter-spacing: 1.7px;
			color: #6d6e71;
			vertical-align: middle;
		}
	}
	
	.form-box {
		position: relative;
		padding: 24px 8px 60px;
		margin-bottom: -10px;
		background-image: url('../img/form-box-bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		
		p {
			padding: 0 50px;
			margin-bottom: 38px;
			font-size: 24px;
			font-weight: 300;
			color: #525252;
		}
		
		h2 {
			margin: 0 0 34px;
		}
		
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			background-size: cover;
		}
		
		&:before {
			top: -8px;
			height: 8px;
			background-image: url('../img/form-box-bg-top.png');
		}
		
		&:after {
			bottom: -7px;
			height: 7px;
			background-image: url('../img/form-box-bg-bottom.png');
		}
	}
}


/**
 *		Media	
 */

@media screen and (max-width: 940px) {

	.stages-work {
		
		.form-box h2 {
			margin-bottom: 17px;
		}
		
		.form-box {
			padding-left: 0;
			padding-right: 0;
			margin: 0 -5px -20px;
			
			p {
				padding: 0;
			}
		}
		
		&__list {
			margin-left: 250px;
		}
		
		&__text {
			max-width: 250px;
		}
	}
	
}
 
@media screen and (max-width: 640px) {
	
	.stages-work {
		
		.container {
			padding: 0 5px;
		}
		
		.form-box {
			margin: 0 -5px -45px;
			
			p {
				font-size: 20px;
			}
			
			h2 {
				padding: 0 55px 26px;
			}
		}
		
		&__group {
			left: 33px;
			width: 165px;
			background-position: 95px 0;
		
			span {
				-webkit-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
		}
		
		&__list {
			margin-bottom: 0;
			margin-left: 75px;
		}
		
		&__item {
			min-height: 120px;
			margin: 0;
		}
		
		&__text {
			width: calc(100% - 90px);
			padding-left: 10px;
			padding-top: 10px;
			
			p {
				font-size: 16px;
			}
			
			.number {
				display: none;
			}
		}
		
		&__photo,
		&__text {
			vertical-align: top;
		}
	}
	
}