/**
 *		Catalog
 */

.text-info {
	
	h2 {
		padding-bottom: 34px;
		margin: 0 0 40px;
	}
	
	p {
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}


/**
 *		Media	
 */

@media screen and (max-width: 940px) {

	.text-info {
		
		.container {
			padding: 0 20px;
		}
	}
	
}
 
@media screen and (max-width: 630px) {
	

	
}