/**
 *		Top panel
 */

.top-panel {
	padding: 19px 0;
	
	&__wrapper {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		   -moz-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
		-webkit-box-align: center;
		-webkit-align-items: center;
		   -moz-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	
	&__logo {
		width: 27%;
		
		img {
			display: inline-block;
			max-width: 120px;
			margin-right: 7px;
			vertical-align: middle;
		}
	}
	
	&__text-logo {
		display: inline-block;
		max-width: 130px;
		padding-left: 8px;
		margin-top: -7px;
		border-left: 1px solid #cdcdcd;
		vertical-align: middle;
		
		p {
			margin: 0;
			font-size: 14px;
			line-height: 17px;
		}
	}
	
	&__button {
		width: 47%;
		text-align: center;
		
		.button {
			margin-top: -7px;
		}
	}
	
	&__social {
		width: 28%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
		
		a.phone {
			position: relative;
			display: inline-block;
			padding-left: 28px;
			margin-bottom: 9px;
			font-family: 'Exo2SemiBold', Times New Roman, serif;
			font-size: 24px;
			color: #4a4a4a;
			letter-spacing: .7px;
			
			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 0;
				display: inline-block;
				width: 22px;
				height: 22px;
				background-image: url('../img/header-phone.png');
			}
		}
		
		.social-list {
			display: block;
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		
		.social-item {
			display: inline-block;
			margin: 0 3px;
			
			a {
				display: block;
				width: 33px;
				height: 33px;
				border: 1px solid #d5d5d5;
				border-radius: 2px;
			}
			
			&--vk {
				background-image: url('../img/header-social-2.png');
				background-repeat: no-repeat;
				background-position: center;
			}
			
			&--in {
				background-image: url('../img/header-social-1.png');
				background-repeat: no-repeat;
				background-position: center;
			}
			
			&--ph {
				display: none;
				background-image: url("../img/header-phone.png");
				background-repeat: no-repeat;
				background-position: center;	
				
				a {
					border: 0;
				}
			}
			
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
	&.fixed {
		box-shadow: 0 0 4px 2px rgba(0,0,0,.25);
	}
}

.open-menu {
	position: relative;
	display: none;
	width: 34px;
	height: 50px;
	margin: -9px 20px 0 0;
	background-color: transparent;
	border: 0;
	vertical-align: middle;
	cursor: pointer;
	
	&:after,
	&:before {
		content: '';
	}
	
	span,
	&:after,
	&:before {
		position: absolute;
		left: 0;
		width: 34px;
		height: 4px;
		background-color: #1c6398;
	}
	
	&:after {
		top: 12px;
		transform-origin: top right;
	}
	
	&:before {
		bottom: 12px;
		transform-origin: bottom right;
	}
	
	span {
		top: 50%;
		left: 0;
		margin: -2px 0 0 0;
	}
}

.nav-mobile {
	z-index: 60;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	max-width: 480px;
	min-width: 320px;
	padding: 20px 15px 60px;
	background-color: #1c6398;
	-webkit-transform: translate3d(-100%, 0, 0);
	   -moz-transform: translate3d(-100%, 0, 0);
	        transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: -o-transform .5s;
	-moz-transition: transform .5s, -moz-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
	overflow-y: auto;
	
	&__close {
		
	}
	
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	&__item {
		margin-bottom: 8px;
		
		a {
			display: inline-block;
			padding: 10px 6px;
			font-size: 18px;
			font-weight: 500;
			color: #fff;
		}
	}
	
	&__logo {
		margin-bottom: 12px;
		margin-left: 5px;
	}
	
	.nav-mobile__close {
		display: inline-block;
		width: 32px;
		height: 32px;
		margin-bottom: 20px;
		border: 0;
		background-color: transparent;
		background-image: url('../img/mobile-close.png');
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
}

/**
 *		Media	
 */

@media screen and (max-width: 1100px) {

	.top-panel {
		
		&__logo {
			width: 35%;
		}
		
		&__button {
			width: 43%;
			
			.button {
				padding: 14px 10px 16px;
			}
		}
		
		&__social {
			
			a.phone {
				font-size: 22px;
			}
		}
	}
	
}
 
@media screen and (max-width: 940px) {
	
	.top-panel {
		z-index: 10;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		
		&__social {
			width: 20%;
			margin-top: -2px;
			
			a.phone {
				display: none;
			}
			
			.social-item--ph {
				display: inline-block;
			}
		}
		
		&__logo {
			width: 50%;
		}
		
		&__button {
			width: 30%;
			
			.button {
				padding: 5px 10px 6px;
			}
		}
	}
	
	.open-menu {
		display: inline-block;
	}
	
}
@media screen and (max-width: 780px) {
	.top-panel__social {
    	margin-top: -16px;
	}
}
@media screen and (max-width: 680px) {
	
	.top-panel {
		
		&__wrapper {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		}
		
		&__logo {
			position: relative;
			width: 100%;
			text-align: center;
		}
		
		&__text-logo {
			width: 100%;
			max-width: 100%;
			border: 0;
			margin: 7px 0 15px;
			text-align: center;
		}
		
		&__button {
			width: 100%;
		}
		
		&__social {
			
			.social-item {
				
				&--vk,
				&--in {
					display: none;
				}
				
				&--ph {
					position: absolute;
					top: 19px;
					right: 7px;
					background-image: none;
					a {
						width: 32px;
						height: 32px;
						background-image: url('../img/phone.png');
						background-repeat: no-repeat;
					}
				} 
			}
		}
	}
	
	.open-menu {
		position: absolute;
		top: 0;
		left: 0;
	}
	
}