/**
 *		Top panel
 */

.work {
	
	&__wrapper {
		
	}
	
	&__button-list,
	&__slider-list,
	&__main-slider-list,
	&__prev-slider-list {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	
	&__button-list {
		flex-basis: 30.5%;
		max-width: 30.5%;
		padding-right: 14px;
		
		&--mob {
			display: none;
		}
		
		.select-wrapper {
			position: relative;
			
			&:before {
				content: '';
				position: absolute;
				top: 28px;
				right: 15px;
				display: block;
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 6px solid #c92649;
			}
		}
		
		select {
			width: 100%;
			height: 59px;
			padding: 0 20px;
			margin-bottom: 10px;
			font-family: 'Exo2', Times New Roman, serif;
			font-size: 18px;
			background-color: #f2f2f2;
			border: 1px solid #c7c7c7;
			color: #c92649;
			outline: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			-o-appearance: none;
			appearance: none;
		}
	}
	
	&__button-item:not(.work__button-item--all) {
		border: 1px solid #b4b4b4;
		margin-top: -1px;
		text-align: center;
		
		a {
			display: inline-block;
			width: 100%;
			padding: 17px 10px 20px;
			font-size: 18px;
			color: #2c2c2c;
			background-color: #f5f5f5;		
		}
		
		&.is-active {
			
			a {
				color: #fff;
				background-color: #c42a4d;
			}
		}
	}
	
	&__button-item--all {
		margin-top: 11px;
		
		a {
			text-align: center;
			width: 100%;
		}
	}
	
	&__slider {
		flex-basis: 69.5%;
		max-width: 69.5%;	
	}
	
	&__slider-item {
		height: 0;
		overflow: hidden;
		
		&.is-active {
			height: auto;
		}
	}
	
	&__main-slider-list {
		padding: 2px;
		border-radius: 2px;
		box-shadow: 0 0 3px 1px rgba(1,1,1,.28);
		
		.arrow {
			z-index: 5;
			display: block;
			position: absolute;
			top: 50%;
			width: 55px;
			height: 55px;
			background-color: transparent;
			border: 0;
			-webkit-transform: translate(0,-50%);
			-ms-transform: translate(0,-50%);
			transform: translate(0,-50%);
			cursor: pointer;
				
			span {
				position: absolute;
				top: 50%;
				display: block;
				width: 17px;
				height: 29px;
				background-image: url('../img/arow-big-white.png');
				background-repeat: no-repeat;
				-webkit-transform: translate(0,-50%);
				-ms-transform: translate(0,-50%);
				transform: translate(0,-50%);
				opacity: .8;
			}
			
			&:hover {
				
				span {
					opacity: 1;
				}
			}
			
			&.slick-disabled {
				display: none !important;
			}
		}
	}
	
	&__main-slider-item {
		width: 100%;
		height: 518px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		
		img {
			display: none;
		}
	}
	
	&__link {
		margin-top: 11px;
		text-align: center;
		
		&--mob {
			display: none;
		}
		
		.button {
			padding: 14px 100px 16px;
		}
	}
	
	&__prev-slider-list {
		margin-top: 14px;
		margin: 17px -8px 0;
	}
	
	&__prev-slider-item {
		margin: 3px 10px;
		cursor: pointer;
		
		img {
			width: 100%;
			margin: 0;
			border: 2px solid #fff;
			border-radius: 2px;
			box-shadow: 0 0 3px 1px rgba(1, 1, 1, 0.28);
		}
		
		&.slick-current img {
			border-color: #c92649;
		}
	}
}


/**
 *		Media	
 */

@media screen and (max-width: 940px) {

	.work {
		
		&__button-list {
			padding-right: 0;
		}
	}
	
}
 
@media screen and (max-width: 640px) {
	
	.work {
		
		.container {
			padding: 0 10px;
		}
		
		&__button-list {
			flex-basis: 100%;
			max-width: 100%;
			margin-bottom: 10px;
			text-align: center;
			
			&--desc {
				display: none;
			}
			
			&--mob {
				display: block;
			}
			
			.button {
				width: 100%;
				max-width: 230px;
			}
		}
		
		&__slider {
			width: 100%;
			flex-basis: 100%;
			max-width: 100%;
		}
		
		&__link {
			
			&--desc {
				display: none;
			}
			
			&--mob {
				display: block !important;
			}
			
			.button {
				width: 100%;
				padding: 14px 10px 16px;
			}
		}
		
		&__main-slider-item {
			height: 270px;
		}
	}
	
}