/**
*		Work-inner
*/

.work-block {
	margin-top: 25px;
	margin-bottom: 34px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.slider-work-block {
	width: 43.5%;
}

.slider-work {

	&__item {
		cursor: pointer;
	}

	&__pic {
		display: block;
		width: 100%;
		height: auto;
	}
}

.slider-work-nav {
	padding: 0 15px;
	margin-top: 8px;

	.slick-arrow {
		position: absolute;
		top: 50%;
		transform: translate(0 , -50%);
		border: none;
		width: 14px;
		height: 28px;
		font-size: 0;
		background: transparent;
		cursor: pointer;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			top: 50%;
			left: 50%;
		}
	}

	.slick-prev {
		left: 4px;

		&:before {
			border-bottom: 3px solid #7e7e7e;
			border-left: 3px solid #7e7e7e;
			transform: translate(-50%, -50%) rotate(45deg);
		}
	}

	.slick-next {
		right: 4px;

		&:before {
			border-bottom: 3px solid #7e7e7e;
			border-right: 3px solid #7e7e7e;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__item {
		cursor: pointer;
		padding: 4px;
		border: 1px solid #d7d7d7;
		margin: 0 1px;

		&--video {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 33px;
				height: 33px;
				background: url(../img/icon-video.png) no-repeat center center;
				transform: translate(-50%, -50%);
			}
		}
	}

	&__pic {
		width: 100%;
	}
}

.video-work {
	width: 27.5%;

	&__video {
		display: block;
		margin-bottom: 34px;
	}

	&__preview {
		display: block;
		width: 100%;
		height: auto;
	}

	&__popup {
		max-width: 216px;
		display: block;
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 65px;
			height: 64px;
			background: url(../img/search.png) no-repeat center center;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__pic {
		width: 100%;
		height: auto;
		display: block;
	}
}

.work-descr {
	width: 25.3%;

	&__price {
		display: block;
		font-size: 36px;
		line-height: .8;
		color: #1c6398;
		font-weight: 600;
		font-family: 'Open Sans', Arial, sans-serif;
		margin-bottom: 8px;
		margin-top: -4px;
	}

	&__icon {
		font-weight: 700;
		font-size: 36px;
	}

	&__title {
		color: #1c6398;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 600;
		font-family: 'Open Sans', Arial, sans-serif;
		display: block;
	}

	&__text {
		font-size: 18px;
		line-height: 26px;
		color: #4d4d4d;
		font-family: 'Open Sans', Arial, sans-serif;
		display: block;

		&--author {
			font-style: italic;
			font-size: 18px;
			line-height: 26px;
			color: #4d4d4d;
			font-family: 'Open Sans', Arial, sans-serif;
			display: block;
			margin-bottom: 18px;
			margin-top: 2px;
		}

		&--date {
			margin-bottom: 7px;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 27px;
				height: 26px;
				background: url(../img/calendar.png) no-repeat center center;
				margin: -3px 13px 0 0;
			}
		}

		&--time {
			margin-bottom: 8px;

			&:before {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 23px;
				height: 23px;
				background: url(../img/clock.png) no-repeat center center;
				margin: -2px 15px 0 2px;
			}
		}
	}
}

.citate {
	margin-bottom: 40px;

	&:before {
		content: '';
		display: block;
		width: 90px;
		height: 64px;
		background: url(../img/cite.png) no-repeat center center;
		margin-bottom: 5px;
	}
}

.char-title {
	display: block;
	font-weight: 300;
	font-family: 'Exo2', Arial, sans-serif;
	letter-spacing: 2px;
	color: #494848;
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
	.work-block {
		flex-direction: column;
	}
	.slider-work-block {
		order: 1;
		width: 100%;
		margin-bottom: 20px;
	}
	.video-work {
		order: 3;
		width: 100%;
		max-width: 275px;
		margin-left: auto;
		margin-right: auto;

		&__popup {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.work-descr {
		order: 2;
		width: 100%;
		margin-bottom: 25px;
	}
}