@import 'advantages';
@import 'banner-slider';
@import 'catalog';
@import 'question';
@import 'footer';
@import 'header';
@import 'reviews';
@import 'stages-work';
@import 'text-info';
@import 'top-panel';
@import 'work';

@import 'about';
@import 'portfolio';
@import 'contacts';
@import 'partners';
@import 'card';
@import 'work-inner';

@font-face {
	font-family: 'Exo2';
	src: 	url('../fonts/Exo2Light.eot');
	src: 	url('../fonts/Exo2Light.eot?#iefix')format('embedded-opentype'),
				url('../fonts/Exo2Light.woff') format('woff'),
				url('../fonts/Exo2Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Exo2';
	src: 	url('../fonts/Exo2Regular.eot');
	src: 	url('../fonts/Exo2Regular.eot?#iefix')format('embedded-opentype'),
				url('../fonts/Exo2Regular.woff') format('woff'),
				url('../fonts/Exo2Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Exo2';
	src: 	url('../fonts/Exo2Medium.eot');
	src: 	url('../fonts/Exo2Medium.eot?#iefix')format('embedded-opentype'),
				url('../fonts/Exo2Medium.woff') format('woff'),
				url('../fonts/Exo2Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Exo2SemiBold';
	src: 	url('../fonts/Exo2SemiBold.eot');
	src: 	url('../fonts/Exo2SemiBold.eot?#iefix')format('embedded-opentype'),
				url('../fonts/Exo2SemiBold.woff') format('woff'),
				url('../fonts/Exo2SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Ruble';
	src: url('../fonts/RUBSN.eot');
	src: url('../fonts/RUBSN.eot?#iefix') format('embedded-opentype'), url('../fonts/RUBSN.woff') format('woff'), url('../fonts/RUBSN.ttf') format('truetype'), url('../fonts/RUBSN.svg#RUBSN') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-FFFD;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: 	url('../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),  
  		url('../fonts/HelveticaNeueCyr-Medium.otf')  format('opentype'),
	   	url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'), 
	   	url('../fonts/HelveticaNeueCyr-Medium.ttf')  format('truetype'), 
	   	url('../fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

*, 
*::before, 
*::after {
-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
	outline: none;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
	font-family: 'Exo2', Times New Roman, serif;
	font-style: normal;
	-webkit-font-smoothing: antialiased
}

body {
	color: #252525;
	background-color: #fff;
}

main {
	padding-top: 50px;
}

h2 {
	position: relative;
	font-size: 36px;
	font-weight: 300;
	padding-bottom: 26px;
	margin: 0 0 60px;
	text-align: center;
	letter-spacing: 1.9px;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		display: inline-block;
	-webkit-transform: translate(-50%,0);
	   -moz-transform: translate(-50%,0);
	    -ms-transform: translate(-50%,0);
	     -o-transform: translate(-50%,0);
	        transform: translate(-50%,0);
	}
	
	&:before {
		bottom: 2px;
		width: 178px;
		height: 1px;
		background-color: #b8b8b8;
	}
	
	&:after {
		z-index: 1;
		width: 72px;
		height: 3px;
		background-color: #ca405f;
	}
	
	&.left {
		text-align: left;
		
		&:before,
		&:after {
			left: 0;
-webkit-transform: translate(0,0);
   -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
     -o-transform: translate(0,0);
        transform: translate(0,0);
		}
	}
}

a {
	text-decoration: none;
}

p {
	margin: 0 0 20px;
	line-height: 1.3;
}

.wrapper {
	min-width: 320px;
	overflow: hidden;
	
	&.menu-open {
		
		.nav-mobile {
    	-webkit-transform: translate3d(0, 0, 0);
    	   -moz-transform: translate3d(0, 0, 0);
    	        transform: translate3d(0, 0, 0);
		}
	}
	
	.wrapper-substrate {
		z-index: 55;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(35, 31, 32, 0.8);
		cursor: pointer;
	}
}

.wrapper-content {
	z-index: 1;
	position: relative;
}

.container {
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}

.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	   -moz-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	margin: 0 -5px;
	
	&--no-margin {
		margin: 0;
	}
}

.block {
	padding: 50px 0;
	
	&--blue {
		background-color: #f2f6f8;
	}
	
	&--no-indent {
		padding-bottom: 0;
	}
}

.button {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	display: inline-block;
	padding: 14px 30px 13px;
	font-family: 'Exo2SemiBold', Times New Roman, serif;
	font-size: 14px;
	letter-spacing: .7px;
	color: #fff;
	background-color: #c92649;
	border-radius: 30px;
	border: 2px solid #c92649;
	box-shadow: 0 2px 2px 1px rgba(115,2,26,.75);
	text-transform: uppercase;
	cursor: pointer;
	
	&--transparent {
		background-color: transparent;
		color: #c92649;
		border: 2px solid #c92649;
		box-shadow: none;
	}
	
	&:hover {
		background-color: #db284f;
		border: 2px solid #db284f;
		color: #fff;
	}
}

.form {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	   -moz-box-flex: 0;
	    -ms-flex: 0 1 auto;
	        flex: 0 1 auto;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	&__group {
		width: 30.5%;
		padding: 0 10px;
		
		input {
			width: 100%;
			height: 48px;
			padding: 0 30px 0 56px; 
			border: 1px solid #e0e0e0;
		}
		
		input::-webkit-input-placeholder {
			font-family: 'Exo2', Times New Roman, serif;
			font-size: 16px;
			font-weight: 300;
			color: #908f8f;
		}
		
		input::-moz-placeholder {
			font-family: 'Exo2', Times New Roman, serif;
			font-size: 16px;
			font-weight: 300;
			color: #908f8f;
		}
		
		input:-moz-placeholder {
			font-family: 'Exo2', Times New Roman, serif;
			font-size: 16px;
			font-weight: 300;
			color: #908f8f;
		}
		
		input:-ms-input-placeholder {
			font-family: 'Exo2', Times New Roman, serif;
			font-size: 16px;
			font-weight: 300;
			color: #908f8f;
		}
		
		&--button {
			width: 39%;
			padding: 0 17px;
			
			.button {
				width: 100%;
				padding: 15px 30px;
				box-shadow: none;
				letter-spacing: 1.7px;
			}
		}
		
		&--input {
			position: relative;
			
			&:after {
				content: '';
				position: absolute;
				top: 0;
			}
			
			&:after {
				top: 10px;
				left: 54px;
				width: 1px;
				height: 31px;
				background-color: #d1d1d1;
			}
			
			span {
				position: absolute;
				background-repeat: no-repeat;
				background-position: center;
				display: block;
				
				&.man {
					top: 15px;
					left: 23px;
					width: 17px;
					height: 17px;
					background-image: url('../img/input-icon-1.png');
				}
				
				&.phone {
					top: 16px;
					left: 28px;
					width: 16px;
					height: 17px;
					background-image: url('../img/input-icon-2.png');
				}
			}
		}
	}
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/**
 *		Media	
 */

@media screen and (max-width: 1100px) {

	.form {
		
		&__group {
			width: 29.5%;
			
			&--button {
				width: 41%;
				
				.button {
					padding: 15px 20px;
					letter-spacing: 1.2px;
				}
			}
		}
	}	
}

@media screen and (max-width: 940px) {
	
	main {
		padding-top: 82px;
	}
	
	.container {
		padding: 0 5px;
	}
	
	.form {
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
		    
		&__group {
			width: 50%;
			
			&--button {
				width: 100%;
				margin-top: 13px;
				
				.button {
					max-width: 350px;
				}
			}
		}
	}
}

@media screen and (max-width: 680px) {
	
	h2 {
		margin: 0 0 30px;
		font-size: 26px;
		letter-spacing: 1.2px;
		text-align: center;
	}
	
	main {
		padding-top: 142px;
	}
	
	.container {
		padding: 0 10px;
	}
	
	.block {
		padding: 40px 0;
	}
	
	.form {
		
		&__group {
			
			&--input {
				width: 100%;
				max-width: 376px;
				margin: 13px auto 0;
				
				&:first-child {
					margin-top: 0;
				}
			}
			
			&--button {
				padding: 0 10px;
				
				.button {
					padding: 9px 5px;
				}
			}
		}
	}
}